[2019-12-05 02:06] groovyjosh commented on #752
What kind of browser support are we targeting? That could affect the CSS rules we use.

[2019-12-05 07:46] corsacca commented on #752
Hi @groovyjosh!
Desktop and mobile. Some users have cheap older phones, so wider support is better.

[2019-12-05 11:25] #787 closed

[2019-12-05 18:00] blachawk commented on #643
Team, I have a plan, thanks to @corsacca on getting a button implemented.
Also,  @mikeallbutt, I have a *potential* fix for the timezone bug we found yesterday.  I'll wrap all this up in a single branch shortly.

[2019-12-06 03:03] mikeallbutt commented on #477
Is this is message that needs to be improved?

<img width="673" alt="Screenshot 2019-12-05 19 54 29" src="https://user-images.githubusercontent.com/43966676/70292076-a6467e80-17a2-11ea-8c28-d3d429c8f182.png">

[2019-12-06 04:02] mikeallbutt opened #855 "Mapping: Locations List: Add New Location - gets added but not displayed"
The issue is that when adding a new location, it does get added when the save button is clicked, but nothing is displayed in the table above, so the user (like I did) will re-press the save button, but this then makes a second new entry, and they can't be removed (another issue to be fixed).

As you can see, Caracas was added twice, because after the first click and it not displaying, I clicked it

[2019-12-06 05:30] micahmills opened #856 "People Group/Location/Source Name Translations"
So the internationalization works really well and most of the data seems to be translatable. I have noticed that when creating or updating a contact's details the Location, Source, and People Group dropdown are populated with English data. I am sure that this is because the data sources for these fields is in English, and doesn't provided the localized names.

For my region and users I need partic

[2019-12-06 08:57] corsacca opened #857 "Make default source field values translatable."
These string are not marked as translatable in config-site-defaults.php.

[2019-12-06 09:22] corsacca commented on #856
Hey,
Great questions.

You can modify and add custom entries to fields like **sources** in the wp-admin under Settings (DT) -> Custom Fields.
The sources field was treated differently when we started (and still is in some ways) and it looks like we didn't come back and make those default options translatable. Issue created: https://github.com/DiscipleTools/disciple-tools-theme/issues/857
You can r

[2019-12-06 09:37] corsacca commented on #477
We need a button that sends a notification to the assigned_to to grant permission.

[2019-12-06 17:02] mikeallbutt commented on #856
In my context, I just need 2 languages - Spanish and English - so getting this issue fixed will be one more step closer to having users use DT.

[2019-12-06 17:11] mikeallbutt commented on #477
A button with the phrase "Request permission from your administrator" that once clicked, sends the notification and also gives the user a visual modal message that a notification has been sent, and to wait for approval. Maybe offer them the next action like return to their groups list.

[2019-12-07 08:07] micahmills commented on #856
I think that @mikeallbutt and I are having the same issue and it is similar to #809.

For instance, I need to have the list of People Groups and cities  to be in Latin script when the locale is English, and Persian/Arabic script when the local is Persian. If I change the name of the people group in the People Groups Tab, or the Locations List and make them all in Persian/Arabic Script then someone

[2019-12-07 14:05] mikeallbutt commented on #856
Yes @micahmills we have the same issue. It also affects the faith milestones and any custom tiles that I have made.

[2019-12-07 17:09] mikeallbutt commented on #857
Hi @corsacca , I @mikeallbutt am happy to go and adjust that file, but will need some code sample to help get me started.

[2019-12-08 02:53] blachawk commented on #732
requesting to close this conversation.  the branch is already merged.

[2019-12-08 03:25] blachawk commented on #749
please feel free to close this conversation as the progress and communciation has advanced beyond this point.

[2019-12-08 16:46] #732 closed

[2019-12-08 17:00] corsacca commented on #749
Hey, we'll keep this open until the feature is complete and merged in.
I wasn't clear with the initial description, the intended tiles to be collapsible are the ones below the  details tile.
We also still need which tiles are closed/expanded to be a saved preference (cookie) so the layout is the same when opening a new contact/group.

[2019-12-08 18:29] corsacca commented on #773
From Mike: https://github.com/DiscipleTools/disciple-tools-theme/commit/01d6ef0d3cd798f5ccc3593b27134a607e0b6864#diff-dd479bebdc6ce11aeda3b3e32b5468aeR1216

[2019-12-08 18:37] corsacca commented on #773
This is working now. Thanks guys

[2019-12-08 18:37] #773 closed

[2019-12-09 01:11] mikeallbutt opened #861 "Multi-site install : WP-Admin : Multiple user roles"
It is possible to see and set multiple user roles on a single DT install but on a multisite install the option to choose roles is not available.

![Screenshot 2019-12-05 18 43 45](https://user-images.githubusercontent.com/43966676/70400032-0aa94e00-19ee-11ea-8cdb-a89474d36314.png)

[2019-12-09 02:21] mikeallbutt commented on #801
This issue is related to #701

[2019-12-09 02:27] mikeallbutt opened #862 "Description field for Custom tiles and Custom fields"
Have the ability to write the description of the tile field and custom field so this can be used as a help modal later. All other default tiles have this field already, but custom fields in custom tiles don't.

[2019-12-09 02:35] mikeallbutt commented on #701
Having the ability to move things around would be great. It would be good to be able to merge customs tiles into the `Other` tiles where tags are displayed.

[2019-12-09 02:56] mikeallbutt opened #863 "Tags: clickable tag to create a list/filter"
Have a tag (that is in the tags field of the other tile of a contact) be clickable so that when clicked, it creates a list/filter of contacts or groups that have that tag.

[2019-12-09 03:03] mikeallbutt commented on #710
@corsacca how difficult would this be to implement?
I suggest it uses the the same tags that are already available to contacts.
Is there an 'Other' tile for a group already for it to go in?

[2019-12-09 08:28] corsacca commented on #701
Good suggestion. This would be a new issue if it is not already.

[2019-12-09 08:39] corsacca commented on #861
Either in the admin or on the front end we could use a better user management page with more D.T relate settings.
An initial work in progress available here: https://github.com/DiscipleTools/disciple-tools-dispatcher

[2019-12-09 10:26] ahillbilly commented on #710
@mikeallbutt agreed on copying the functionality from contacts.

There is no tile for it, you will have to add/create it.

[2019-12-09 12:46] mikeallbutt opened #866 "Choosing group type as church linked with church health church commitment"
Choosing group type as church should activate the church health church commitment button, and make the broken line of the circle to be solid.
And,
Clicking the church health church commitment button should change the group type to be church.

[2019-12-09 12:54] mikeallbutt opened #867 "Create group modal: more fields"
The modal doesn't match the create group page. The create group modal needs 'group type' and not just “Name of Group” field.

It could be similar to the what is available for a new contact.

Both the page and the modal could be enhanced by adding other fields:

- status
- initial comment

[2019-12-09 19:25] mikeallbutt commented on #809
An idea I had is to have a different page in the admin area that lists all the fields and then assign then to a particular language. Then the admin user just switches this admin page to be associated to a particular language and all the fields get shown for that language.

[2019-12-09 19:42] mikeallbutt opened #869 "Quick create contact modal: more fields"
The modal doesn't match the create contact page. The create contact would be better if the other fields were available to be completed on first creation, and not have to create then edit (add more info) later.

Both the page and the modal could be enhanced by adding other fields:
- phone
- source
- status
- initial comment

[2019-12-09 19:49] mikeallbutt opened #870 "Portuguese translation"
Have Portuguese translation of DT.

[2019-12-09 19:59] mikeallbutt opened #871 "Filtering "Sub-assigned to" typeahead shows those who are "Sub-assigned to" someone"
The sub-assigned users should only offer the list of users who have been sub assigned.

When using a filter to narrow a list of contacts, one can use the sub-assigned to field. The issue is that the created drop down list in the "type to search field" actually shows all system uses. It should only list a user that is sub-assigned by someone.

[2019-12-09 20:29] mikeallbutt opened #872 "Irrelevant html title tags"
On many pages the html title tag is `<title>DiscipleTools</title>` instead of being something more relevant to the page. eg. `<title>Create new contact - DiscipleTools</title>`

Pages that need fixing are:

- [ ] Dashboard
- [ ] Metrics
- [ ] All sub-pages of metrics ie. /metrics/mapping/map
- [ ] Create new contact
- [ ] Create new group
- [ ] Settings
- [ ] Notifications
- [ ] any plugins ie. cl

[2019-12-09 20:30] mikeallbutt commented on #872
@corsacca please give me some ideas of where to fix these and I will do it.

[2019-12-10 09:31] corsacca commented on #872
It looks like this is set in the header.php file.
We'd probably need to add a filter so individual pages can hook in and set the value.
Wordpress might have a better option.

[2019-12-10 09:36] corsacca commented on #871
A user might want to create a filter for someone as a placeholder for when they do have subassigned contacts even though they don't yet.
I'd rather not limit it in that case.
Is there a certain problem we would some with this request?

[2019-12-10 09:38] corsacca commented on #870
Please clarify your intent for this issue.

[2019-12-10 09:53] mikeallbutt commented on #870
Have the DT interface in Portuguese so that, for example, a person from Brazil who speaks Portuguese, can understand and use DT in their language.

[2019-12-10 10:05] mikeallbutt commented on #871
Ok I hadn't thought of that possibility. But I think it is confusing to have people in the list who currently do not have any sub-assigned people. If their names are listed, I naturally expect that their names are there because they have someone sub-assigned to them, and not that in the future they might get sub-assigned someone.

Another small aspect to this issue is that the list can be super lo

[2019-12-10 12:19] #857 closed

[2019-12-11 02:53] mikeallbutt commented on #669
This is a feature that we really need. It is beyond my current abilities, but would give it a go if I could. I really hope someone (@blachawk?) with the right skills can get this completed asap.

[2019-12-11 03:11] mikeallbutt opened #875 "Notifications: Hyperlink to the user who the comment relates to"
Like in the attached image, have the @Someone be a link to that user or contact. This will make it easier to move around the system, as you might need to take action related to what the notification relates to.

![Screenshot 2019-12-10 21 03 23](https://user-images.githubusercontent.com/43966676/70588092-4cbec500-1b91-11ea-8e28-c0370f370611.png)

[2019-12-11 05:53] mikeallbutt commented on #821
On the settings page it uses these toggles, and they are very clear:

![Screenshot 2019-12-10 23 49 04](https://user-images.githubusercontent.com/43966676/70595105-0d4fa300-1ba8-11ea-9143-acab798aca79.png)
![Screenshot 2019-12-10 23 49 14](https://user-images.githubusercontent.com/43966676/70595106-0de83980-1ba8-11ea-933c-a398580e2c83.png)

I think using the same icon for follow and notifications

[2019-12-11 08:53] corsacca commented on #875
Can you give an example of a notification where the user would want to see the contact of the @mentioned user instead of the contact or group in question?

[2019-12-11 11:07] corsacca commented on #821
@mikeallbutt we can use a different icon, any suggestions?
The toggle requires there to be text beside it, which does not fit well on mobile.

[2019-12-11 15:17] mikeallbutt commented on #875
Yes I can. I have a leader who uses DT to write notes about the groups they are leading. I want to give feedback to this leader but not via the group page that is referenced. By having the @user as a link of person who wrote the comment, will allow me to go to their contact page and leave a comment.

I could also write a comment on my profile and @metion them, but getting to my profile is also not

[2019-12-11 16:59] mikeallbutt opened #876 "Having the ability to move things to merge customs tiles into the `Other` tiles"
_Originally posted by @corsacca in https://github.com/DiscipleTools/disciple-tools-theme/issues/701#issuecomment-563121077_

[2019-12-12 12:21] #806 closed

[2019-12-13 04:14] mikeallbutt commented on #821
Thinking about this more and why it is confusing for me (and no doubt others) is that the I think the outline and background need to be swapped. ie. when the contact is being followed, the button says "following" but has a solid background color and not white. And when the option to follow, the bottom says "follow" but has the white background and outline for the button border. This design is out

[2019-12-13 07:14] corsacca commented on #821
It depends if the button is treated like a status (following or not following) or like an action (follow or unfollow). Either is common on popular websites.
Here both are used at the same time, which does make it confusing.
A "receive notifications" icon that has a hover over for each state will work well in this case.
The word follow is also confusing as it does not necessarily mean "receive a no

[2019-12-13 18:12] mikeallbutt commented on #821
Well explained @corsacca. So adjusting the "follow" to be more in line to the action - which is recieve notifications - is a good change.

[2019-12-13 18:16] mikeallbutt commented on #872
Another thing I have noted is that the other pages like "Contact" only have that word in the title tag. They should have which site appended to the end so that when you have various windows or tabs open, you can easily identify which site this Contact page is referring to.

[2019-12-14 11:16] mikeallbutt opened #878 "wp-admin/users.php hyperlink to no existing page"
The hyperlink needs to be changed on the page /wp-admin/users.php where a user called “registered’ is not linked to any contact, so the link called “ver” (spanish for view) is referencing a page that doesn’t exist.

![Screenshot 2019-12-13 13 04 50](https://user-images.githubusercontent.com/43966676/70847944-4c902500-1e30-11ea-8a1a-3bb2493ed152.png)

[2019-12-14 11:57] mikeallbutt opened #879 "Language change doesn't reflect changes"
My instance of DT uses `language1` as the default language but in the `my.discipletools.in/settings/` when I go to edit the language, and set it to `language2` for a user, the change isn't recognised if on the user profile page in /wp-admin/profile.php is set to use `site default`.

[2019-12-14 12:03] mikeallbutt commented on #879
After doing some investigating, I think the issue is that what the first item says in the dropdown list on the /settings/ page of `English (United States)` is actually referring to `Site Default` which is not what it says.

![Screenshot 2019-12-14 05 59 32](https://user-images.githubusercontent.com/43966676/70848432-fa9ecd80-1e36-11ea-8fd5-1e7e82a57e43.png)

[2019-12-14 13:02] corsacca commented on #879
This looks like a duplicate of: https://github.com/DiscipleTools/disciple-tools-theme/issues/697

[2019-12-14 13:15] mikeallbutt opened #880 "Group details tile: Date fields using wrong language"
My site uses lanuage1/spanish as the primary language but I choose to override this and use language2/english. When I view the interface it correctly shows all the labels in language2/english - except fields where dates are displayed in the group details tile in lanuage1/spanish (the site default language).

![Screenshot 2019-12-14 07 06 57](https://user-images.githubusercontent.com/43966676/70849

[2019-12-14 13:24] mikeallbutt commented on #710
I have begun a [branch](https://github.com/mikeallbutt/disciple-tools-theme/tree/group-tags) that I would like help with.

<img width="719" alt="Screenshot 2019-12-14 07 22 22" src="https://user-images.githubusercontent.com/43966676/70849348-bdd8d380-1e42-11ea-99f5-c916606ee550.png">

[2019-12-14 13:35] mikeallbutt commented on #879
It is significantly different.

[2019-12-14 21:19] ahillbilly commented on #703
User should have a place (in wp-admin) where all the tags can be:
- seen / listed
- edited (with edit applied to all records already tagged
- merged if needed

Search of a tag "example" should find both the tag "example" and "Example" regardless of capitalization used or searched for.

[2019-12-15 16:13] mikeallbutt commented on #872
I suggest this type of structure:

{name} - {section} - {site}

{contact name} - {Contacts} - {DT instance name}
{group name} - {Groups} - {DT instance name}
eg. Someone - Contacts - DiscipleTools
{add new contact} - {contacts}- {site}

{Metrics} - {site}
{Critical Path} - {Metrics} - {site}

[2019-12-16 01:46] mikeallbutt commented on #402
That would be a great spot. That is where this type of feature often is ie. Google Contacts.
It would also be useful to have the star to the left side of the name or group on the list pages. That way as you are looking through the list you can click if you want them starred or not, and save going to their individual contact page to apply it.

This feature is needed. Using tags is ok but is system

[2019-12-17 11:05] corsacca opened #882 "Ability to deactivate plugins from the extensions page"
Only available options are install and activate:
![image](https://user-images.githubusercontent.com/24901539/70990252-69915600-20c5-11ea-853d-73dd3555b980.png)

[2019-12-18 09:48] #749 closed

[2019-12-18 12:45] micahmills opened #883 ".pot file missing contexts"
It looks like the .pot file (along with the .po files) are missing some context fields. So `_x( 'Male', 'Gender label', 'disciple_tools' )` in dt-contacts/contacts-post-type.php line 367 doesn't actually pull the translation from the po file because it doesn't have the proper context. This is true of quite a few strings in the particular file.

[2019-12-18 12:52] corsacca commented on #883
Those context fields were just added. So we might need to just re create the .pot files and they'll show up.

[2019-12-18 15:54] micahmills commented on #883
Is there instructions written for remaking the pot file?

[2019-12-19 08:41] corsacca commented on #883
Using https://poedit.net/ you can open the .pot and "update from code"

[2019-12-19 19:37] micahmills commented on #883
resolved by commit 3bc35c7034013434611128b624a7cdea5c2c5916

[2019-12-19 19:37] #883 closed

[2019-12-19 21:09] micahmills commented on #880
So I was seeing the same thing and I dug into this a bit. The group dates are set in line 131 of dt-core/global-functions.php. It is getting that data format from the General Settings of Wordpress. We can consider doing changing the way that function works, but the easy solution is to change the  Date Format in the WP admin Settings->General. I chose d/m/Y and that solved my problem for me.

[2019-12-20 08:29] corsacca commented on #855
Fixed by https://github.com/DiscipleTools/disciple-tools-theme/commit/431f1fd2b61832c1a15b9fea3efb1079032d3391
Thanks @mikeallbutt for the report!

[2019-12-20 08:29] #855 closed

[2019-12-20 10:37] corsacca commented on #880
Todo: get formatted dates in user's local

[2019-12-30 09:26] #803 closed

[2020-01-03 14:00] corsacca commented on #844
This is implemented

[2020-01-03 14:00] #844 closed

[2020-01-03 14:11] #450 closed

[2020-01-03 15:15] corsacca opened #888 "Better cron job for D.T?"
The default Wordpress cron uses user traffic to start cron jobs.
This means that any automatic process will only run when a user loads the site.
A normal D.T instance does not see much user traffic, so the cron jobs will be called infrequently. Sometimes the user might experience slow page loads because of running cron jobs.
Automatic cron processes include:
- checking for contacts that need an up

[2020-01-03 15:23] corsacca commented on #888
Also a complicating factor would be set up the system cron for each multisite.

[2020-01-06 13:06] corsacca commented on #700
Implemented reminders and tasks for contacts and groups in PR #889
The main functionality is for the user to set a reminder or a task your themselves with a note and a due date.
Future iterations can include:
- a page for the user to see all their tasks.
- a default list set by the system admin with common tasks depending on the use case (call contact, send flowers, etc). This would appear as a se

[2020-01-06 13:34] corsacca commented on #752
Close by PR #886

[2020-01-06 13:34] #752 closed

[2020-01-20 09:34] corsacca opened #897 "Auto focus first input when opening a modal."

[2020-02-07 11:18] corsacca opened #902 "Removing a channel breaks contact details."
Contacts details breaks when a contact channel is removed and the contact has details saved for that channel.
Updating details for that channel also breaks.

[2020-02-07 11:19] corsacca commented on #902
start adjust_post_custom_fields in posts.php
[code]

[2020-02-07 11:21] corsacca commented on #902
Then: Remove instagram and skype from default channels

[2020-02-18 06:55] micahmills opened #903 "Check cache against users locale to ensure we are serving the proper strings"
If you are running a DT instance with users in multiple languages data gets cached in language 1 and served to those in language 2 because there is no check for locale before pulling from the cache.

An example of this is the get_custom_fields_settings function on line 682 of contacts-post-type.php. we are loading from cache when it is available, but we don't check if that cache is in the appropri

[2020-02-18 08:17] corsacca commented on #903
The cache is per request, so the next request will set up it's own cache.
The issue likely stems from getting the fields before the user locale is set. I'm fixing this in the contacts.php and groups.php in the strings branch.
If we have a function that switches user (maybe to send an email) we would want to user the $load_from_cache = false parameter to get the updated fields.
Did you find a scena

[2020-02-18 09:10] micahmills commented on #903
I noticed the problem in 2 places. In my local environment the cache was mismatched but this is likely because I was switching languages back and forth, this would not be a normal use case for most users.

The other place I noticed it was on our live server, because the host (Wp-engine) has caching on by default and it seems that it is pulling the cache with the wrong language. This use case is pr

[2020-02-20 14:35] corsacca opened #906 "Use get_user_locale() instead of user->locale in theme"
See https://github.com/DiscipleTools/disciple-tools-theme/pull/905

[2020-02-20 14:39] micahmills commented on #906
I am working on this. Should have it done soon.

[2020-02-21 16:06] corsacca commented on #879
@mikeallbutt, I think @micahmills just fixed this issue. Would you be able to confirm it on your end?

[2020-02-21 16:34] micahmills commented on #879
This needs further testing. I am not seeing it when I test with a user that is assigned a DT role, but on my main wordpress Administrator user I might still be seeing it.

[2020-03-02 13:54] corsacca commented on #897
Here are the places i would expect the first input to be focused
- [ ] Create new contact page
- [ ] Create new group page
- [ ] Create new custom post type page ( template-new-post.php )
-- in modals:
- [ ] Create contact modal from the contact details page. The modal opens from the typeahead button
- [ ] Create group modal from the contact details page.
- [ ] Create contact modal from the group

[2020-03-03 09:26] #783 closed

[2020-03-03 10:28] micahmills commented on #906
This bug has been fixed it can be closed

[2020-03-03 11:02] #906 closed

[2020-03-06 21:19] corsacca commented on #888
It could be something we suggest when the user sets up D.T (like an installation wizard or dashboard).
We recommend enabling system cron (D.T could detect if the DISABLE_WP_CRON setting is set).
If the user can't update wp-config, pinging the site from a service might be the next best option (tho i didn't see it recommending when i was searching). I think they'd still recommend setting the DISABLE

[2020-03-09 07:58] micahmills commented on #879
Ok So I have more information to add here and @mikeallbutt if you are able to confirm this on your installation it would be helpful. So it appears that something int DT is causing a bug that an Admin users language settings are overriding the Site Default languages. For instance, If I set the Site Default language (Settings->General->Site Language) to Spanish, but then change my admin users langua

[2020-03-09 07:59] micahmills commented on #879
I did confirm that it is something in DT because I deactivated the DT theme and I was able to set the site default language independently of the Admin's user language.

[2020-03-10 08:11] micahmills commented on #697
I believe that Pull Request #914 fixes the initial issue presented by corsacca.

You can set the default language in the wp-admin Site Settings ->General menu and then each user can have their own language selection option, but the default for the user is the site default. New user emails will go out in the sites default language.

[2020-03-10 09:08] micahmills commented on #768
I was looking into this today. Microsoft and Google offer Text Translation APIs but they require API keys and the free tiers stop at about 2 million characters of translation a month.

One option would be to add a settings field in the admin with instructions on how to set up a Microsoft of Google account with and then enter the API key. Then if that API key exists we could show a button to transl

[2020-03-10 09:09] #879 closed

[2020-03-10 09:17] corsacca commented on #697
Looks like #914 solves the issue. Thanks @micahmills!

[2020-03-10 09:17] #697 closed

[2020-03-10 09:21] corsacca commented on #768
That is a good idea.
We use that strategy for some of the mapping features. In the mapping settings you can enter your mapbox key and that will enable extra features related to mapping and geocoding.

[2020-03-18 01:33] mikeallbutt opened #917 "Site link documentation"
On the page /wp-admin/edit.php?post_type=site_link_system
There is no real documentation explaining what to do.

Also, the link to the `Site link documentation` goes correctly to the readthedocs page, but highlights the word `transfer`. This query should be removed.

[2020-03-24 03:21] mikeallbutt opened #919 "Dashboard view buttons don't show refined list"
On the dashboard, clicking on the "View all" or "View contacts list" buttons, it would be expected to see the list of the refined list. Currently it shows all the list of all the contacts in the system.

[2020-03-30 01:29] mikeallbutt opened #921 "Mapping focus per user"
Our install is focused on Mexico but I wanted other small nations to use the same install, but so that they don’t always have to change the focus from Mexico to all the world everytime they set a location of a group or contact, it would be great for them to assign their area that they are working in eg. Beliz or a state/smaller area of Mexico.

[2020-03-30 14:35] micahmills commented on #694
hey @mikeallbutt I think this is largely taken care of, but wanted to check if there are any known places that aren't marked for translation.

[2020-03-30 18:03] #917 closed

[2020-03-30 18:46] mikeallbutt commented on #694
Until we get the next merge of the translations operating in DT, I won't be able to confirm. But I think it is all good though.

[2020-04-10 15:46] corsacca commented on #768
Thank you @micahmills! :)

[2020-04-10 15:46] #768 closed

[2020-04-12 00:55] mikeallbutt opened #929 "&amp; in title of contact or group"
If the symbol of "&" is used in the name of a contact or group, it displays as "&amp;" in many places like members list. eg. Terry (&amp; Sandy) Kernel

For a group the same issue happens eg. Surf &amp; Skate group

[2020-04-13 09:24] corsacca commented on #929
@mikeallbutt can you make a list of the places this happens? Does it always happen?

[2020-04-13 10:18] micahmills opened #931 "If you create a a contact and delete the contacts name you cannot then open the user"
When you create a contact if forces you to enter a name, but if you then open that new contact and edit the information you can clear out the contacts name. It will then show up in the list, but the link to open the contact is not there because there is not name to put the link on.

[2020-04-13 10:24] micahmills opened #932 ""Created Record At..." should be "Created Record on...""
When you create a new contact the first activity says something like  “created record at Thu, Apr 9, 2020, 12:57 PM.” To be a better sentence grammatically it should probably be “created record on …”

[2020-04-14 16:13] corsacca commented on #931
I think this is an issue on the list page and the notification page.
It would be great to make the cell (or the whole row?) clickable instead of just the name.
Plus we might want to protect from the user erasing the name in the UI and in the create/update code

[2020-04-14 20:16] mikeallbutt commented on #929
It happens in a few places but not everywhere.

- Name column on the contacts and groups list page
- Contact title in the contact details tile
- Group title in the group details tile
- In the member list in the Members tile, if a member has the symbol in their name
- In the various fields of the Connections tile - Groups, Relation and all the auto-suggest names in all the fields.

Interestingly, w

[2020-04-15 08:26] corsacca commented on #929
@mikeallbutt Can you provide steps to reproduce the issue? It displays correctly with my test:
![image](https://user-images.githubusercontent.com/24901539/79315479-e826c480-7efa-11ea-9717-a657ac8f58d3.png)

[2020-04-15 08:33] #932 closed

[2020-04-15 10:16] corsacca opened #937 "Ability to change the Church health icons"
This is a request for a WP-Admin UI where the icons of the church health metrics can be changed.
These icons appear under the church health circle.
- Also for the icons within the circle to be changed. This might require a new svg to be supplied.

[2020-04-16 12:34] micahmills commented on #903
I think this issue is solved

[2020-04-16 12:34] #903 closed

[2020-04-16 13:26] micahmills commented on #929
I was not seeing this in my local DT instance but when I looked on my instance in disciple.tools I was seeing this problem. Apparently something that we have done since the latest update has fixed this, and it should be resolved when we roll out the next update.

[2020-04-16 16:23] corsacca opened #942 "Comment alignment issue."
For some reason the indent of the 2nd+ comments isn't aligned any more.
![](https://user-images.githubusercontent.com/24901539/79480174-ad5d8300-8005-11ea-82e9-478e6a94f981.png)

[2020-04-16 16:42] corsacca commented on #770
Fixed by @micahmills!

[2020-04-16 16:42] #770 closed

[2020-04-16 18:41] micahmills opened #943 "Download contacts info to your address book"
Had a request to easily add the users data into a contact card so the person can easily contact the user from their phone without having to manually entering phone numbers or copy and pasting data.

[2020-04-17 06:13] mikeallbutt commented on #758
So if we wanted to use https://fontawesome.com/icons/tags?style=solid for the tags icon, how do we use it?

[2020-04-17 08:42] corsacca commented on #943
Maybe something for the mobile app? A button to create a contact card in your address book from this contact record. (share?).
Does that sound right?
I think the phone numbers should be clickable (https://github.com/DiscipleTools/disciple-tools-theme/issues/479)

[2020-04-17 08:51] corsacca opened #945 "Hide translate option if the comment language is the same as the user's locale"
This is a suggestion because it might require more API calls to do.
If a comment is in English and i click on the translate link i get the comment in English since my selected locale is English. The UI would be simpler if the Translate button was only visible on comments in other languages.

![image](https://user-images.githubusercontent.com/24901539/79550975-f60e4e00-8090-11ea-8c70-0616c3b9c1fc.p

[2020-04-17 08:58] micahmills commented on #945
Yeah I considered that as well, it would be one more API call every time the comment is loaded. Unless we added some metadata in the comment itself that saved the language information from Google Translate.

So we could make a call to Google Translate, get the comments language, update the comment to include the language metadata. On subsequent calls check if the metadata exists before making the

[2020-04-17 09:04] micahmills commented on #943
Yes this is what I am thinking. I am researching the possibility of making a vCard server side that can be downloaded. Then the browser/OS can import that into the address book.

The phone numbers are clickable, but that defaults to calling the person (at least in iOS). Often we are not calling people on the phone at first. We usually wants to send a message in WhatsApp or Telegram or text message

[2020-04-17 09:08] micahmills commented on #945
Now that I think about it, we could save the comment translation that we get back from Google Translate as well, then displaying that instead of making a round trip to the translate API every time.

This would make the comment object bigger, but I think we can work with that.

[2020-04-17 10:04] corsacca commented on #945
We could look up the locale of the user that made the comment. But it isn't a guarantee they wrote in the same language.

I like the idea of saving data return by an API call.

An API call for each comment might create a rather large usage bill. Even if it is just once per comment. If Facebook conversations are imported there can be 100s of messages per contact.

[2020-04-17 13:56] #643 closed

[2020-04-18 14:49] mikeallbutt opened #947 "WP Admin: People Groups link to joshuaproject.net"
Having a link to the https://joshuaproject.net/regions would help those new to the system so they could see find and locate the right people group better.

This simple link could be placed on the Add New people group page (near the text "Search by either country or ROP3 code:" by adding the words "Need Help?" and having that as a text link to open a new window to the Joshua Project page) as well a

[2020-04-20 10:51] #942 closed

[2020-04-22 09:51] corsacca opened #951 "Lists: clear search input box when list changes."
I search for a name and get a list of results.
I click to another filter.
The name i searched for is still in the search input.
The search input should be cleared to avoid confusion.

[2020-04-22 09:52] corsacca opened #952 "Lists: X next to search input box to clear it."
Join a button to the search input box to easily clear it instead of selecting the text and deleting.

[2020-04-22 14:45] mikeallbutt opened #953 "WP admin: Limit languages available"
If we are going to have a growing list of translations, it would be good to have a WP admin tab that lists the languages available and allows the admin to turn off ones (using a tick-a-box option) that they don’t want to offer.

eg. I won’t need Arabic and others won’t need spanish. Most instances will only use a few and not the whole list, so reducing the list would help in the overhead (maybe?)

[2020-04-22 18:31] corsacca opened #954 "Notifications number indicator wrong place"
On the notifications page the number is in the wrong place:
![image](https://user-images.githubusercontent.com/24901539/80019646-c667a780-84cf-11ea-8b2c-166fa26529c4.png)
Please check you changes in a right to left language like Arabic

[2020-04-23 09:24] micahmills opened #955 "Ability to Localized Location name to Location List"
The current location list is extensive, but it is in Latin(English) script. For users that might be using a non-latin script language (Arabic, Farsi) it might be difficult to find a city or town name if it is not listed in their alphabet.

If we added a field to the Location List tab to include a localized name would be helpful. It would be even more helpful if we could include those with DT. Then

[2020-04-24 08:55] corsacca opened #956 "Comments: duplicate filter headings"
![image](https://user-images.githubusercontent.com/24901539/80194053-bce65880-8611-11ea-9eda-0168e8814c4f.png)

[2020-04-24 09:19] #956 closed

[2020-04-24 12:31] corsacca opened #957 "Comments: show time of comments and activity"
![image](https://user-images.githubusercontent.com/24901539/80212657-cc749a00-862f-11ea-9a5e-f6a7e885ebc6.png)

[2020-04-27 09:46] corsacca opened #961 "Return from create contact link with subfolders"
When creating a new contact I'm at the url of domain.com/subfolder/contacts/new but if I cancel from this page, it returns me automatically to domain.com/contacts having stripped out my subfolder.

[2020-04-27 10:30] corsacca opened #962 "Error: Cookies are blocked or not supported by your browser. You must enable cookies to use WordPress."
![image](https://user-images.githubusercontent.com/24901539/80361102-472ff600-8878-11ea-8065-a1acc9d4cb82.png)

This seems to happen when signing in from multiple different subdomains on the same server.

One solution seem to be to disable domain cookie checking in the wp-config.php

define( 'COOKIE_DOMAIN', false );

[2020-04-27 10:30] #962 closed

[2020-04-27 10:30] #880 closed

[2020-04-28 10:40] #954 closed

[2020-04-28 12:22] micahmills opened #964 "Some Filter Names not translated"
In the Contacts Filter List the word Contacts in All Contacts and My Contacts is note being translated into the users language.

It appears the problem originates in contacts.php line 1854 and its use of Disciple_Tools_Contact_Post_Type::instance()->plural. That comes from contacts-post-type.php line 105. I think that the users locale is not being applied when that file is run and it gives the Eng

[2020-04-28 12:57] micahmills opened #965 "localized scripts cached in wrong language"
Data that is put on a page using wp_localize_scripts will be cached by many Caching plugins. If the user changes languages in the settings these cached scripts will not get updated. ie. wpApiListSettings

I am using WP-engine and the cache there persisted across logouts, browser changes, and private browsing modes, and was only resolved when I purged the WP-engine Cache.

Possible solutions are:
1

[2020-04-28 13:34] micahmills opened #967 "Add other auto translation options"
We currently support google translate for translating comments if an API key is entered. We might consider adding other translation API options like Microsoft Translator Text API.

[2020-04-28 16:20] corsacca commented on #964
There could be a lag in the translation files.
Is this the same location you are referring to?
![image](https://user-images.githubusercontent.com/24901539/80511702-5d22e100-8974-11ea-82ba-c036d7a9b28f.png)

[2020-04-28 16:44] corsacca commented on #964
@micahmills can you check that https://github.com/DiscipleTools/disciple-tools-theme/commit/7ae797fc7e0979e56900ae70ae115269e3a00519 fixes the issue?

[2020-04-28 16:50] micahmills commented on #964
Yes that does it.

[2020-04-28 17:09] #964 closed

[2020-04-30 01:42] mikeallbutt commented on #954
This issue affects the mobile view of the website too. The issue might need to be reopened.

[2020-04-30 08:27] corsacca commented on #954
@mikeallbutt  can you post a screen shoot of what you mean? It looks the same on desktop and on mobile for me.

[2020-04-30 14:04] micahmills opened #969 "Sources list not localized"
The list of sources as well as the "Sources" heading in the contact edit modal are not showing up in the localize language.

[2020-04-30 14:07] micahmills opened #970 "Warning when a contact or Group name is deleted"
Currently if you empty the name field of a contact or group there is no warning or error. We should offer some visual feedback when the name field is left blank.

[2020-05-01 05:12] mikeallbutt commented on #954
I checked again now. All good.

[2020-05-01 14:50] corsacca commented on #969
The field label is being overwritten by the $custom_field_options line:714 of dt-contacts/contacts-post-type.php
The source options are being loaded from the options table. This is because we did sources differently before, it does not need to be an wp_option any more. I think it can be moved directly to the field defaults array. Will need to check for dependencies.

[2020-05-03 11:46] mikeallbutt opened #975 "WP Admin: Users - have link to the documentation describing roles"
When a person is on the page /wp-admin/users.php they might not remember what role has what permissions, so having a way to see the list of permissions the each role has will be useful.

All the roles are described here:
https://disciple-tools.readthedocs.io/en/latest/Disciple_Tools_Theme/getting_started/roles.html#gs-roles

![Screenshot 2020-05-03 06 32 57](https://user-images.githubusercontent.c

[2020-05-04 08:54] corsacca commented on #861
This is now possible from the front end under the settings gear > users

[2020-05-04 08:54] #861 closed

[2020-05-04 09:01] corsacca opened #976 "Multipliers: setting to allow multipliers to list all other users."
By default a multiplier can only see the users they have interacted with when listing users in places like the Assigned To field and @mentioning in comments. It is considered 2 users have interacted if they both have access to a same contact.

This setting would allow each multiplier to see the whole list of users.
Needs also to be applied to the contact typeaheads like the Subassigned field.

An

[2020-05-05 14:17] mikeallbutt opened #977 "User email not adjustable"
I can’t change the email listed for a multiplier user via the settings page of my instance.
There is no error message. It saves but no changes are reflected. I also tried using an admin account but that doesn’t give me access to change it either.

[2020-05-05 14:25] mikeallbutt opened #978 "Grant access to all groups the user is a part of"
When doing a conversion of a contact to a user, have a way for a contact who then becomes a user to then have access to all their relationships and groups they are in, so that someone doesn't have to go through and share this new user and give them access to all these contacts and groups, or sub-assign them one-by-one so they can see them.

[2020-05-05 14:28] mikeallbutt opened #979 "Tile minimiser function"
Put a tile minimiser function (like the other tiles have) on the Contact details tiles and Group details tiles.
In my case, I hardly ever need the info displayed in the details tile and always have to scroll down to get to the other tiles. That gets tiring.
The other reason, is there are times I need to do screenshot but not with all the persons personal details displayed.
Maybe not everyone will

[2020-05-05 14:31] mikeallbutt opened #980 "Demo data to include all roles"
In the demo data, it installs the 2 users of marketer1 and marketer1. I think these should be renamed to not use the word marketer but instead digitalresponder - since that is the role they have.

Also, I think there should be a demo user for each type of role - missing are Disciple.tools admin, strategist and registered.

[2020-05-05 16:23] mikeallbutt commented on #454
Within the WP Admin there is this ability to bulk adjust contacts. I think it might be a good place to add this functionality to also adjust things like Sources, tags and assigned to etc.

![Screenshot 2020-05-05 11 19 39](https://user-images.githubusercontent.com/43966676/81089930-9f8f7500-8ec2-11ea-9a42-0f1ee168ddaf.png)

[2020-05-05 18:24] mikeallbutt commented on #856
I think with your latest work @micahmills we have got this issue resolved?

[2020-05-05 18:28] mikeallbutt opened #981 "Used Locations"
Having a "Used Locations" as another (and possibly the default) would make it faster for the user to assign the correct location, especially when there are many places in a focus that have similar names.

![Screenshot 2020-05-05 13 18 23](https://user-images.githubusercontent.com/43966676/81101646-0ff2c200-8ed4-11ea-9f8c-aa1e8430e735.png)

[2020-05-05 20:16] micahmills commented on #856
Yes PR #950 should resolve this. There are a couple of things that need to be done in that PR to get it complete but when it is merged this can be closed.

[2020-05-05 20:57] mikeallbutt opened #982 "Settings: Roles name uses incorrect info"
The Roles field on the /settings/ page of a user is not using the correct information - as seen in the attached image for a DT system in Spanish.

![Screenshot 2020-05-05 15 54 04](https://user-images.githubusercontent.com/43966676/81115255-07f14d00-8ee9-11ea-96c6-38a980483616.png)

[2020-05-06 12:41] micahmills commented on #856
#950 was merged so this is now closed.

[2020-05-06 12:41] #856 closed

[2020-05-06 12:43] micahmills commented on #478
I believe we have solved this as well with #950

[2020-05-06 12:44] micahmills commented on #809
I believe this is solved with #950.

[2020-05-06 12:50] corsacca commented on #809
I think so too.

[2020-05-06 12:50] #809 closed

[2020-05-06 12:54] corsacca commented on #478
I think this issue could be extended to all strings instead of just the fields, but i don't think we want to head in that direction.
#950 deals with the most commonly used strings suggested here.

[2020-05-06 12:54] #478 closed

[2020-05-06 12:58] corsacca commented on #870
We have a Portuguese translation.

[2020-05-06 12:58] #870 closed

[2020-05-06 13:01] corsacca commented on #981
This is used in locations typeahead in the filters.
We can add this functionality to the other location typeaheads

[2020-05-06 13:03] corsacca commented on #978
Might be linked to the #454 issue

[2020-05-06 13:05] corsacca commented on #979
Status, assigned to and subassigned are fields that we'd want to keep more visible.

[2020-05-06 13:09] corsacca commented on #965
I suspect this is more a server caching issue more than a browser/request caching issue.

[2020-05-06 13:12] corsacca commented on #929
@mikeallbutt can you confirm that this is still an issue?
Any ways we can reproduce it?

[2020-05-06 13:13] #694 closed

[2020-05-06 13:25] micahmills commented on #965
It is. WP-Engine uses Object caching so the Object was being cached in one language and not being updated when the language changed. I turned off object caching and that resolves the issue.

There might be a way to avoid caching in the wrong language, but I think that is probably more work than it is worth. It is likely an edge case that someone would be switching languages often and on a host tha

[2020-05-06 13:25] #965 closed

[2020-05-06 14:57] corsacca commented on #965
The object caching extends to any part of the system that uses wp_options to store data. The fields list will be the most notable example.

[2020-05-06 21:43] micahmills opened #983 "Custom Field Translation Deletion"
If you set a custom field key translation then delete that translation, the default key will be shown but it will not pull the translated string from the .po files.

For instance if you set the translation for seeker_path in a given language then delete that, the user will see Seeker Path on the contact page instead of the default translation that comes from gettext.

[2020-05-06 22:54] micahmills commented on #982
This is because in template-settings.php Line 100 we are getting the users roles from wp_get_current_user()->roles and those are in English.

[2020-05-12 08:34] micahmills opened #986 "Administrator user not able to add DT roles to themselves"
Currently a Wordpress Administrator user cannot add a custom DT role to themselves because the User Role section does not appear in the WP_Admin. A different DT_Admin user can add a role to and Administrator user.

[2020-05-12 08:37] corsacca commented on #986
Administrators should be able to add and remove roles and themselves. DT_Admin the same except they should not be able to give themselves the administrator role.

[2020-05-12 12:25] micahmills opened #987 "Reply to comments in contacts and groups"
It might be useful to create a mechanism to reply to a previous comment possibly like a thread in Slack or a Reply in WhatsApp. This would allow someone to respond to a previous comment and the comment and reply would be linked together.

This could possibly be implemented at the same time as #537

[2020-05-16 14:30] mikeallbutt opened #989 "Indicate a group meets online and not in a specific location"
It would be good to have a way to indicate if a group is meeting online and not gathering in a specific location.

[2020-05-20 08:21] corsacca commented on #989
@mikeallbutt As a locations option, a group type, or somewhere else?
I'd suggest starting with a custom field to track no default items.

[2020-05-20 11:06] mikeallbutt commented on #989
Good question @corsacca
I think maybe a new field somewhere else so that with the metrics it can be seen how the online groups are (or aren't) multiplying.
Another reason would be that a physical group might become an online (or vice versa).

[2020-05-22 11:15] corsacca commented on #977
Tested again in master and the issue is resolved.

[2020-05-22 11:15] #977 closed

[2020-05-22 11:55] corsacca commented on #982
Fixed by https://github.com/DiscipleTools/disciple-tools-theme/commit/8e666b73df2633cf4a91097ae849ebdc93513f5c

[2020-05-22 11:55] #982 closed

[2020-05-22 16:21] corsacca commented on #969
Fixed with: https://github.com/DiscipleTools/disciple-tools-theme/commit/da873d518a3789d2fdd1acf53d251708532adcca
You may need to delete the custom label for the sources field name.
That is now possible with: https://github.com/DiscipleTools/disciple-tools-theme/commit/afd6128a365dfcbf03754cf4555c1e9b3e2b234f

Quick link: {domain}/wp-admin/admin.php?page=dt_options&tab=custom-fields&field-select=c

[2020-05-22 16:21] #969 closed

[2020-05-22 16:25] corsacca commented on #983
I think this is now fixed with https://github.com/DiscipleTools/disciple-tools-theme/commit/afd6128a365dfcbf03754cf4555c1e9b3e2b234f

[2020-06-01 04:47] zdmc23 opened #991 "Group Progress Translations"
There are 2 terms under Groups -> Progress which are not being properly translated (and this is indirectly affecting the Mobile App bc we're pulling these particular terms from the D.T API):

- Group Type
- Church Health

Please see the red highlights in the attached screenshot

![Screenshot from 2020-05-31 23-08-11](https://user-images.githubusercontent.com/191707/83376678-14aa7900-a3a1-11ea-8b42

[2020-06-01 11:03] corsacca commented on #991
Hey @zdmc23
These are the result of custom labels being set on the fields on this particular instance.

[2020-06-01 11:03] #991 closed

[2020-06-01 13:19] zdmc23 commented on #991
See #950

[2020-06-12 02:29] zdmc23 opened #994 "HTML character encoding in Contact Title/Name"
I stumbled upon this while opening up a similar issue for the Mobile App.  It looks like the comments handle HTML special chars properly, but the Contact Title/Name is displaying it in encoded format

Ref: https://github.com/DiscipleTools/disciple-tools-theme/issues/815

![Screenshot from 2020-06-11 22-18-09](https://user-images.githubusercontent.com/191707/84458358-d9c30380-ac32-11ea-82ff-01aabef

[2020-06-12 09:41] corsacca commented on #994
Linked to https://github.com/DiscipleTools/disciple-tools-theme/issues/929

[2020-06-19 02:42] mikeallbutt opened #996 "Group member list tile improvement"
In many of our groups we have a few dozen members. There are only a few leaders, and assigning leaders to a group doesn't change too often. The current member list design uses the footprint icon to allow a member to be assigned/indicated as being a group leader. I suggest using the space where the footprint icon currently is, and it be replaced with a way to allow the marking of group attendance t

[2020-06-19 02:47] mikeallbutt commented on #810
The more I use DT the more I need this Group Status. I want to have accurate data, but with only 2 options at present this is more complicated. If I set a group as "Inactive" because they are not meeting for a while but will resume in the future, then DT applies a closed data to the group. When the group is reactivated, the closed date is still set too.

[2020-06-19 03:31] mikeallbutt opened #997 "Connections tile improvements"
As DT gets used more, some of the initial information that was first entered is no longer as relevant, but should not be removed.

I suggest that a way to indicate or hide inactive contacts and/or groups in the connections fields be implemented. This could be done by changing the color of the text of the name of the contact/group.
Or grouping them into sub groups within the field depending on thei

[2020-06-19 03:33] mikeallbutt commented on #997
A contact who has been doing good work will have lots of people that have coached but no longer coach. How can DT help this contact focus on they are currently coaching when all their previous coached contacts are in the same field.

[2020-06-29 11:10] corsacca commented on #675
The filters now take their values from the field labels.
Filters can also be added to and changed from plugins via filters.

[2020-06-29 11:10] #675 closed

[2020-07-02 21:45] mercivic opened #999 "Special Characters on Contact Lists not displaying properly"
It looks like the contact list page does not handle HTML special chars properly. It is showing them in encoded format. This shows up when looking at the Contact List with contacts "Waiting to be accepted" and the language set to French.

![image](https://user-images.githubusercontent.com/2756587/86411831-b3b9dd80-bc8b-11ea-90a9-47c816e501f3.png)

[2020-07-03 07:42] micahmills commented on #999
This is a problem because that string in the French translation uses the wrong apostrophe. We can fix that.

[2020-07-03 08:34] micahmills commented on #994
<img width="820" alt="Screen Shot 2020-07-03 at 11 25 38 AM" src="https://user-images.githubusercontent.com/2531805/86448974-2d031000-bd20-11ea-9134-38fbf3c9a0ce.png">

I am not seeing this on my local copy of the repo, but I do see it in my disciple.tools demo instance. Is there a difference in what is running there versus what is coming from the master branch?

[2020-07-03 09:28] corsacca commented on #994
Users with Macs seem to trigger the issue, then it is displayed for all. I haven't been able to reproduce it locally either.

[2020-07-07 08:51] corsacca commented on #454
For this feature i would suggest using the existing filtering ui to create a list to update.
We need a UI for selecting the action to apply (set status, assigned to, tags, sharing, etc)
We can either apply the action to all the records match the filter ( even if 1000s )
Or we can add checkboxes or the user to select which records to update ( 0 - 100 unless more records are loaded in the list )

[2020-07-07 17:28] corsacca commented on #999
Fixed the issue by not double escaping the values to be displayed: https://github.com/DiscipleTools/disciple-tools-theme/commit/8a05863b28bc3426940bf56d897db244efa87fe2

[2020-07-07 17:28] #999 closed

[2020-07-08 17:42] mikeallbutt opened #1002 "Create a group directly from the Parent or Peer group fields"
Offer the ability to create a group directly from the Parent or Peer group fields, like what Child group field has.

There have been times where I have desired create a group from the Parent or Peer fields but instead had to go and create a group elsewhere then return to assign it to the existing group.

[2020-07-08 17:49] mikeallbutt opened #1003 "Custom group tile collapsable"
Like issue #850 a custom group tile should be collapsable also.

[2020-07-09 05:07] mikeallbutt opened #1005 "Auto-adding people groups to a group"
In a group there is a place to set the people groups involved in that group. This list of people groups could be auto-built by using the people groups of the members of the group.

_Originally posted by @mikeallbutt in https://github.com/DiscipleTools/disciple-tools-theme/issues/373#issuecomment-495924332_

[2020-07-09 05:21] mikeallbutt opened #1006 "Collapse/hide content in details tiles"
Like what was done on issue #749 it would be useful to have the same ability to hide much of the data in the details tile of a contact and group. There are times when sensitive data is listed in the details tile and it doesn't need to be viewed. Much of the info in this tile is important but also doesn't need to be viewed most of the time. Especially in mobile view when screen space is limited, is

[2020-07-09 05:54] mikeallbutt commented on #997
Another thing to improve the Connections tile is to add icons next to each field - like the app uses.

[2020-07-09 06:36] mikeallbutt opened #1007 "Quick action button for groups"
Have quick actions dropdown button available for groups. (like what is available for contacts)

Initial actions could be:

- Meeting complete
- Meeting scheduled
- Meeting postponed

When those actions are activated, it could load a modal that allows a comment to be added to the action.

[2020-07-09 06:39] mikeallbutt commented on #1007
Another thing it could offer is a way to log what happened at the gathering of the group. This could be related to the things that want to be tracked. ie. did the group pray, read, do communion, sing.

[2020-07-09 07:41] mikeallbutt commented on #846
@corsacca have you got any more thoughts on how this might be able to be implemented?

[2020-07-09 07:47] mikeallbutt commented on #951
Related to this would be a way to remove a filtered item when on the record list page. eg. I want to see all the "females" who "have bible" who are "active", but if I want to adjust the results that are shown, I just remove a filter eg. gender, and the list refreshes to now only show the 3 filters.

[2020-07-09 08:07] mikeallbutt opened #1008 "Indicate inactive contacts & groups in fields in tiles"
When there are people (and groups) in a field, they are all displayed the same, making it hard for the user to distinguish which contact is active, paused, closed etc.

One possible and simple way to help identify the differences would be to have the word and box around the name be a different colour.

[2020-07-09 09:13] mikeallbutt commented on #812
@corsacca has this now been implemented?

[2020-07-09 09:30] mikeallbutt commented on #996
@ahillbilly maybe you can provide some insight as to the current design for the member list tile. It uses a significant design to other fields and name lists.
Does it really need every member to have a leader icon next to their name?

[2020-07-09 09:42] ahillbilly commented on #996
Sorry, I didn't understand this: "It uses a significant design to other fields and name lists."

The member list tile probably doesn't need to have the leader icon next to every name, but when new groups are forming, the leadership isn't always clear.  A multi-select leader field could be an alternative.

As for marking attendance, that seems like a solid requirement for folks leading groups.  I t

[2020-07-09 23:53] rtendesign opened #1009 "Instagram integration"
Like the Facebook integration plugin, this would integrate Disciple.Tools into Instagram.

[2020-07-10 13:03] mikeallbutt commented on #996
Most fields use a simple name box - like what's in the Relation field on the Connections tile for a contact. The members list tile uses this other design with each member on a separate row with icons etc.

Maybe having a new "Group Leaders" field below the member count field that only offers names once they are actually in the member list. I suggest the member list gets reverted to be the same as

[2020-07-10 13:16] mikeallbutt opened #1010 "Group coach title not wrapping"
As can be seen in the attached images, the phrase "Group Coach / Church Planter" and the help icon gets hidden when the screen width is smaller.

![Screenshot 2020-07-10 08 09 07](https://user-images.githubusercontent.com/43966676/87158086-ce401800-c284-11ea-915d-755cc88eca53.png)
![Screenshot 2020-07-10 08 09 32](https://user-images.githubusercontent.com/43966676/87158089-ced8ae80-c284-11ea-9514-

[2020-07-10 13:30] mikeallbutt opened #1011 "Prevent linking a contact/group to itself"
When making connections, the contact that is being worked on has itself available in the type-ahead list that it can be connected to. This issue is seen in all the fields that offer who to connect with.

The same happens for groups. eg. It is currently possible to assign the parent group of the group being edited because the current group is available/offered in the suggested type-ahead list.

[2020-07-10 15:37] mikeallbutt commented on #996
This tile could have a place to list potential group members. That way DT could be used to plan a new group. This might be a simple text box to write names and also another field that searches contacts in DT to add to a potential member group list.

[2020-07-11 06:05] mikeallbutt opened #1012 "Collapse/hide content in Comments and Activity tiles"
There are times when it would be good to collapse the Comments and Activity tiles in groups and contacts.

[2020-07-12 12:41] mikeallbutt opened #1013 "The word "of" not being translated on record list pages"
At the top of a record list page (for contacts and groups) in English it says "of" eg. "Showing 100 of 540" but when you switch another language such as Spanish, it still uses the word "of" and not the Spanish translation "de" eg. "Mostrando 100 de 540".

![Screenshot 2020-07-12 07 30 10](https://user-images.githubusercontent.com/43966676/87246314-438d2380-c412-11ea-8d77-619a98f2be20.png)
![Screen

[2020-07-13 09:29] corsacca commented on #812
We implemented in the profile section a field to track what languages the user can/wants to use to communicate with contacts.
The languages list can be edited in the WP-Admin > DT Settings > Custom Lists

[2020-07-13 09:29] #812 closed

[2020-07-14 12:24] mikeallbutt opened #1015 "Group status set to inactive when being created."
When a group is created, it would be better if the status was set to be "inactive" so that it doesn't get an "End Date" set when it is changed to inactive. A newly created entry for a group that gets adjusted to being inactive will then leave a group end date, that then needs to be removed once the group starts (and is no great/accurate for metrics).

By default there is a "pre-group" type which i

[2020-07-14 12:58] mikeallbutt opened #1016 "WP Admin: Available Translation list modifiable"
DT has a growing list of translations but many instances will only need to offer it in a few languages. It would be helpful to have a setting area in WP Admin when what languages are offered to be used to custom translate strings.

[2020-07-14 13:13] mikeallbutt opened #1017 "Using the same tags for site wide - for contacts and groups"
DT has the ability to add tags to a contact #484 and for groups #710 and often the same tag would be used. It would be useful to not duplicate the tag list and just use the same list of tags in all areas of the DT instance where tags can be used.

[2020-07-14 15:10] mikeallbutt opened #1018 "Plugin Request: Church Health using 12 functions (not the 9)"
Some groups use 12 distinctives for church health. Having this option would be useful.

<img width="586" alt="Screenshot 2020-07-14 10 04 19" src="https://user-images.githubusercontent.com/43966676/87442365-d4eaca00-c5b9-11ea-8e30-1b59fe027021.png">

This 1 minute video explains them.
https://youtu.be/22fu1d-L7XA

[2020-07-14 16:39] mikeallbutt commented on #1016
The image shows the current long list of languages DT offers. Not all need to be offered for translation for most installations.

![Screenshot 2020-07-14 11 36 03](https://user-images.githubusercontent.com/43966676/87452155-7d9f2680-c5c6-11ea-9a51-e9ab050220d8.png)

[2020-07-14 17:53] mikeallbutt opened #1019 "Metrics: User activity feed"
As a user, I would like a way to see what I have done. Potentially this data could be accessed via the User Profile page (accessed via the user name on the blue nav strip) by having a tile listing history.

[2020-07-14 18:18] mikeallbutt commented on #537
A simple system like what GitHub uses would help.

<img width="153" alt="Screenshot 2020-07-14 13 16 22" src="https://user-images.githubusercontent.com/43966676/87461730-6d8e4380-c5d4-11ea-9089-8b973dd3a434.png">

[2020-07-14 21:38] micahmills commented on #1018
Our teams use similar 12 elements of a healthy church, I think this would probably be a good opportunity to have this in a plugin to add this functionality.

[2020-07-14 23:39] mikeallbutt commented on #1018
I think using a plugin would be ideal. That way others can copy the plugin or have a plugin that is customizable to set up what they want to track for group health - including choosing their icons.

[2020-07-17 01:58] mikeallbutt opened #1022 "Translate add members info above the dropdown: Showing {} items"
Other than English, when adding a member using the add member modal, the phrase is in English and not the chosen language for the DT user.

**Showing** 20 **items**

![Screenshot 2020-07-16 20 51 24](https://user-images.githubusercontent.com/43966676/87740093-f52bac00-c7a6-11ea-9d06-587d6cbdd26f.png)

[2020-07-17 02:16] mikeallbutt opened #1023 "Set description for fields and field options from the wp-admin field settings"
DT allows for the creation of custom group types but needs a field to  write a description. When there is no description it displays empty in the information modal.

![Screenshot 2020-07-16 21 09 13](https://user-images.githubusercontent.com/43966676/87740947-04135e00-c7a9-11ea-9508-0355186043d1.png)

The fields need to be translatable too.

![Screenshot 2020-07-16 21 08 19](https://user-images.gi

[2020-07-17 04:16] mikeallbutt opened #1024 "Integration Request: GenMapper.com"
GenMapper is an app for tracking generational chruch planting. It collects the same sort of data that DT does. It would be great if there was a way to link the 2 systems so that the data could be shared/used on either platform.

1 minute video explains what it does.
https://youtu.be/F7LBIidv_XY

The https://noplaceleft.tools/tools also uses GenMapper.

The difference with DT is that it can collect

[2020-07-17 08:31] corsacca commented on #1019
Please expand on what you would expect to see in this user history.

[2020-07-17 08:33] corsacca commented on #1016
Alternative: have a "show more" to expand languages not with no custom translations.

[2020-07-17 08:53] corsacca commented on #1015
The intended workflow is for the user to create a group record when a group has formed in real life. And the group to then become a church. If the group is no longer meeting the group record is then set to inactive with an end date.

Creating the groups as "inactive" would add extra steps to the intended workflow as the user would need to remember to set the group to active each time.

We could ex

[2020-07-17 08:55] corsacca commented on #1012
What would be the reason for wanting to collapse those?

[2020-07-17 08:59] corsacca commented on #1011
I agree, in some fields it would be better to not display the current record as an option.
In some fields it needs to be available like baptisms, subassigns, etc.

[2020-07-17 09:02] corsacca commented on #1009
@rtendesign can you flesh out the workflow and what elements of instagram would need to be synced to D.T?

[2020-07-17 09:04] corsacca commented on #1008
@mikeallbutt please provide these details:
- which fields
- what extra data to display
- how the data could be displayed.

[2020-07-17 09:06] corsacca commented on #1007
This sounds dependent on the meeting tracker #569

[2020-07-17 09:09] corsacca commented on #1006
Note: We don't want to hide the status, assigned to and subassigned field.

[2020-07-17 09:37] corsacca commented on #710
Closed by: https://github.com/DiscipleTools/disciple-tools-theme/pull/1020

[2020-07-17 09:37] #710 closed

[2020-07-17 09:38] corsacca commented on #1017
Implemented: https://github.com/DiscipleTools/disciple-tools-theme/pull/1020

[2020-07-17 09:38] #1017 closed

[2020-07-17 11:21] mikeallbutt commented on #989
Now that there are tags for groups, a tag could be used to indicate an online group too.

[2020-07-17 17:29] mikeallbutt commented on #1019
Maybe the notifications page could be expanded to include that type of information.
The history that I would find helpful would be things like:

- a list of updates by date of a contact and group that can then be expanded to see what was done. Doesn't need to be the whole report, but a way to get to the contact or group to add or edit more info.

- {contact/group} updated by {User};
-- {User} adju

[2020-07-17 17:44] mikeallbutt commented on #402
In the header area near the "add new" and "notifications" icons there could be an icon for a "Pin" that opens a page that has a list of things that have been pinned. These could be:

- contacts
- groups
- trainings
- searches
- saved metrics/ results

[2020-07-17 22:32] mikeallbutt commented on #1016
But if you do that, it will still offer the full list pretty much every time you have none translated.

[2020-07-17 22:42] mikeallbutt commented on #1015
You are describing one workflow but it is not the only workflow. The simplest way is ofer the "status" field to be set on creation of a group. Default stays as active but can be set to inactive in the case where this is preferred.

After trying it, in its current form, the trainings plugin is not a good/right solution.

[2020-07-17 22:47] mikeallbutt commented on #1012
- consistency - all tiles have this ability
- smaller screens
- less clutter when trying to focus
- privacy - eg. when demonstrating the system;
- taking screen shots and then not having to blur out the sensitive info

[2020-07-19 20:36] mikeallbutt commented on #1008
- Contact > Connections tile fields - Groups, Relation, Baptised by, Baptised who, Coached by, Coached who.
- Group > Groups tile - Parent, peer, child
- Group > Member list tile - member

No extra data - just styling to indicate the difference in the statuses.

Possibly just a dot (like what the app currently has) that is the colour of their status. Green - active, Red - inactive, Orange - paused

[2020-07-19 20:51] mikeallbutt commented on #1008
The members list could have a different coloured icon.

![Screenshot 2020-07-19 15 50 20](https://user-images.githubusercontent.com/43966676/87884964-af095f00-c9d7-11ea-85a7-ffa876484523.png)

[2020-07-19 21:43] mikeallbutt commented on #989
The same way to implement #763 could be used to indicate online groups.

[2020-07-19 22:01] mikeallbutt opened #1025 "Edit a comment field is too big in mobile view"
On my phone, the Edit a comment field is too big in mobile view, which prevents the `Cancel` or `Update` button from being displayed when the virtual keyboard is activated.

![Screenshot_20200719-165606](https://user-images.githubusercontent.com/43966676/87886281-4b842f00-c9e1-11ea-9e19-1eec90f39197.png)
![Screenshot_20200719-165645](https://user-images.githubusercontent.com/43966676/87886282-4d4d

[2020-07-19 23:38] mikeallbutt commented on #996
What should one do when members are not currently attending? I wonder if DT offered a way to not the member as being inactive in this group. Maybe they are away for a time and will/might return at some stage. You want the group count to be accurate, but it is also useful to track who has been in a group over time too.

[2020-07-20 00:41] mikeallbutt commented on #758
@corsacca this is something I could research, but if you can give me a heads-up on what fonts to look at first. What font icon set is being used at present and do you have any recommendations.

[2020-07-20 09:18] corsacca commented on #758
We currently use the foundation icons https://zurb.com/playground/foundation-icon-fonts-3 and custom icons from thenounproject and some others.
I'd like to know how much extra weight using fontawesome would add.

[2020-07-20 13:52] rtendesign commented on #1009
@corsacca When a person direct messages the integrated Instagram account, this plugin would create the contact in DT, bringing in the information they have entered into their account (name, username, email, phone, and gender).

[2020-07-21 19:41] blachawk commented on #758
Just my 2 cents - as long as we are still using Foundation behind the scenes within this project, using foundation icon fonts is probably the most "comfortable" way to go.  If for some reason you guys are experiencing issues with major limitations on the given font set, then my opinion of a plan B, is to attach the font-awesome 5 CDN to the structure of the site, so that you guys don't have "much

[2020-07-24 04:23] mikeallbutt opened #1027 "Add missing icons to fields when create record contact & group"
At the fields for creating a contact or group, these icons are missing:

- [ ] Icon: Create New Contact > Initial Comment
- [ ] Icon: Create New Group > Group Type

[2020-07-29 18:16] mikeallbutt commented on #817
In my instance a loop has been created and I get this message:

Error setting up the graph
This can be caused by circular connection data. Check that no child has two parents that are related. A group and a grand child group can't both be the parent of another group.

There needs to be a check to prevent this loop from being set, or more details as to what group is causing the loop so that it can

[2020-07-30 09:54] corsacca commented on #961
Fixed by: https://github.com/DiscipleTools/disciple-tools-theme/commit/995048cfdda06dc696af847b520a0ad0461fdd93
Will be available in theme version 0.32

[2020-07-30 09:54] #961 closed

[2020-07-30 09:59] corsacca commented on #751
This issue was fixed.

[2020-07-30 09:59] #751 closed

[2020-07-30 10:02] #983 closed

[2020-07-30 11:05] #902 closed

[2020-07-30 11:24] #759 closed

[2020-07-30 15:22] corsacca commented on #754
Closed by https://github.com/DiscipleTools/disciple-tools-theme/pull/1030

[2020-07-30 15:22] #754 closed

[2020-07-30 15:47] corsacca commented on #994
Duplicate of #929

[2020-07-30 15:47] #994 closed

[2020-08-04 01:32] mikeallbutt opened #1034 "New color for a status"
At present the statuses use these colours and are displayed in the contact list view in the DT app and on a contact record page.
green - active
orange - paused, waiting to be accepted, reason not ready
red - closed, dispatched needed, new contact,
DT blue - facebook

The colour red is used to indicate attention needed, but a closed contact doesn't need attention. I suggest the color for closed be

[2020-08-04 14:04] corsacca opened #1035 "Languages field sync confusion."
Languages field shows on:
- custom lists settings page
- custom fields > contacts > languages.
It can be also used on other post types like groups.

Modification with the custom fields UI don't show up on the custom lists page. This can be confusing.

[2020-08-11 03:36] mikeallbutt opened #1036 "Old links to readthedocs in WP-admin"
There are some links in the WP-admin to the old documentation system.

![Screen Shot 2020-08-10 at 10 29 46 pm](https://user-images.githubusercontent.com/43966676/89854366-5e5dcf80-db59-11ea-8138-2f9e341b2424.png)

- [x] /wp-admin/user-new.php - Learn more (in 2 places)
- [x] /wp-admin/admin.php?page=dt_extensions - Backups
- [x] /wp-admin/edit.php?post_type=site_link_system - Site link documentat

[2020-08-11 05:52] mikeallbutt opened #1037 "Old links to readthedocs"
In all modals, the text `Read the documentation` needs to point to the new documentation at https://disciple.tools/user-docs/

The link to Help in the drop down menu on the top right also needs adjusting.

[2020-08-12 14:02] corsacca commented on #734
Now in Settings > Users > User

[2020-08-12 14:02] #734 closed

[2020-08-12 14:06] corsacca commented on #676
No longer an issue.

[2020-08-12 14:06] #676 closed

[2020-08-12 14:08] corsacca commented on #976
![image](https://user-images.githubusercontent.com/24901539/90025164-abeb5100-dcad-11ea-8c36-8f09cca26568.png)
Now implemented.

[2020-08-12 14:08] #976 closed

[2020-08-22 12:59] mikeallbutt opened #1041 "@mention to reference contacts and groups in a comment"
There are times when it is useful to be able to reference a contact or group when writing a comment. So that the user doesn't have to explain who they are referencing, they could more simply use an @mention type of function to have the record create a hyperlink to the other record.

Currently @mention only shows users of the DT instance. One way this functionality might be able to be achieved is t

[2020-08-25 22:39] mikeallbutt opened #1042 "Metrics page errors when baptism data loops"
Like with issue #817 the Gen Mapper won't load when there is a loop in the baptism data.

It will break when Contact A baptizes contact B and then you say Contact B baptizes Contact A… or Contact A baptized B and B baptized C and then you say that C baptized A.

It would be good to build a check into DT to find and/or prevent this from happening.

One way would be to exclude a person from the list

[2020-08-25 23:10] mikeallbutt opened #1043 "Recognise IDs / "handles" in the Social Media field"
Some social media systems (twitter, instagram) use ids for the identification of the users. It would be good if DT could convert the data in the social media field to connect with the appropriate social media system when the ID is stored and not the full url.

eg. if someone puts `nonfamousperson` in the instagram field the DT displays it as a `nonfamousperson` but it is a link to https://www.inst

[2020-08-27 11:59] ahillbilly commented on #568
@mikeallbutt, meaning that you want to be able to add the @mention when editing the comment, correct?

[2020-08-27 15:33] mikeallbutt commented on #568
Correct. It would be nice to have a way to mention/tag a contact/group when writing a comment.
This might be done like what the issue #1041  describes too.

Maybe #@contact would work for a contact and #@# for groups (since they will never be a contact so don't really need a mention - just a tag to create a link to them).

So typing @mention would indicate you were looking for a DT user but #@cont

[2020-08-28 02:11] mikeallbutt commented on #1006
The attached image shows how a normally filled out contact record looks when in mobile view - very long. This is a reason that having collapsable tiles would aide the user.

![long-contact-mobile-view](https://user-images.githubusercontent.com/43966676/91513426-ec4fef00-e8a9-11ea-8e56-e4207eb35f4a.png)

[2020-08-28 13:12] corsacca opened #1044 "Update needed triggers: UI and/or filter to add more triggers."
Let the user or a plugin add more triggers to the update needed options.

The update needed triggers are defined in config-site-defaults.php and then stored within the wp_options table.

Here is a way to add to them for now from a plugin.

[code]

[2020-09-02 21:10] mikeallbutt opened #1045 "Choose what to share when a contact becomes a user"
When a contact becomes a user have a bulk way to assign them to other contacts and groups. This might be a modal that shows the user who they can request to be shared with.

[2020-09-05 13:05] mikeallbutt commented on #810
It is possible to do this now via the WP Admin > Settings DT > Custom Fields > Group Status.

[2020-09-05 13:08] mikeallbutt commented on #872
Maybe @micahmills you can look into this. ;) ? I tried but don't have enough experience with WP.

[2020-09-05 14:39] mikeallbutt commented on #624
@corsacca I think this is now sort of available in the: settings > Multiplier Preferences > Locations you are willing to be responsible for

[2020-09-05 15:08] mikeallbutt opened #1046 "Profile Settings: Languages you are comfortable speaking"
On a users /settings/ page there is a section of Multiplier Preferences tile that permits the user to state 'Languages you are comfortable speaking'

![Screen Shot 2020-09-05 at 9 48 33 am](https://user-images.githubusercontent.com/43966676/92307623-45c8b580-ef5d-11ea-8beb-b8612f2dfb78.png)

The choices come from /wp-admin/admin.php?page=dt_options&tab=custom-lists in the Language Options tile.
![

[2020-09-07 09:01] corsacca commented on #1046
Thanks @mikeallbutt .
It will be fixed with: https://github.com/DiscipleTools/disciple-tools-theme/commit/ebd0d6bd419f16cc8e5a9990319c59ddeb76acb1

[2020-09-07 09:01] #1046 closed

[2020-09-07 09:02] corsacca commented on #624
We are looking for the primary "Contact" location if there are multiple set. The "User's" locations shouldn't affect this.

[2020-09-07 12:35] mikeallbutt commented on #1027
@corsacca I @mikeallbutt would be happy to be assigned this issue.

/contacts/new
![Screen Shot 2020-09-07 at 7 31 18 am](https://user-images.githubusercontent.com/43966676/92388230-8f8bda00-f0dc-11ea-96d2-92729740e250.png)

/groups/new
![Screen Shot 2020-09-07 at 7 31 06 am](https://user-images.githubusercontent.com/43966676/92388262-9e728c80-f0dc-11ea-8dee-5565bf70aea9.png)

[2020-09-07 13:53] #1037 closed

[2020-09-08 01:45] mikeallbutt opened #1048 "Phone numbers to use country codes"
When people assign a phone number it is not always obvious what country the number belongs to so it would be good to have a way to set the phone numbers' country codes. (MX +52, AU +61, US +1)

In other places on line this is a drop down that can be selected so that the country code is added to the start of the number.

It would be useful to be able to

- [ ] - Set a default country code.
- [ ] -

[2020-09-08 01:58] mikeallbutt opened #1049 "WP-admin: Custom Fields: New field type: textarea"
Having a `textarea` field will allow the users to add more areas to write other types of data like comments that wrap onto new/more lines.

![Screen Shot 2020-09-07 at 7 27 47 am](https://user-images.githubusercontent.com/43966676/92425387-b5e95e00-f14c-11ea-8f33-fec4e6ea95c7.png)

[2020-09-08 02:19] mikeallbutt opened #1050 "Configurable Quick Actions buttons"
The `Quick Actions` for a contact are ok but in some situations it would be good to be able to change the wording, icon and functionality of the list item.

One idea of what the list might have is:

Instead of it being `Contact established` (which is a one time event) it could be adjusted to `Communicated with` (this could be used to track if the user had interaction with the contact).

Another is

[2020-09-08 02:33] mikeallbutt opened #1051 "Different contact icon depending on gender"
Instead of the same default contact icon for male and females, maybe have different ones related to gender (or age). Doing this might make it easier to find people in list view. The icons could also be styled to use different colours  related to the contacts status.

[2020-09-08 02:37] mikeallbutt opened #1052 "Groups list view: Last modified column"
The groups list view could be enhanced if it had a `Last modified` column to be used in sorting the list. and to display when the groups record was last updated.

[2020-09-08 03:10] mikeallbutt opened #1053 "Contacts List: row display issue when record is in many groups"
When a contact is in many groups, the list displays all the groups and the record row is VERY high. The text vertically aligns to the center of the row which makes it hard to see who the record is related to.

I suggest that the number of groups shown is 5 and if there are more, then have `show more` type of icon link under the list in the `Groups` column for that record, that then expands to show

[2020-09-08 03:15] mikeallbutt opened #1054 "Users to have a system to Favorite, Star, Pin all sorts of things"
As a user there are records that I want to have quick access to. What records I want will be different to what another user needs. It needs to be done on a per user level and is a Personal Priority system for the user to aide in sorting out their records.

This data sorting could be used in the filters and dashboard or their user profile.

[2020-09-08 03:20] mikeallbutt opened #1055 "Defaults for adding new contacts and groups"
In the DT settings, have an area to set defaults for adding new contacts and groups. When using DT in a relational strategy, many of the fields will be similar (location, people group, tags, type of group), so having a configuration tile in WP-admin where these defaults could be set would be helpful.

[2020-09-08 03:27] mikeallbutt commented on #775
@ahillbilly I would like to have this issue reopened. In DT now a users preferred language is now able to be recorded, so using the same field would be good.
If the desire is that many contacts become users, then having their language set when they are converted from a contact to a user will be helpful, so that DT sends out to them system messages in the appropriate language.

[2020-09-08 03:35] mikeallbutt commented on #557
@corsacca Until this issue is fixed, I do all my user creations in the WP-admin area so that I can control the user name. Having this fixed will allow others who don't have access to WP-admin to make users from contacts and not have the new user have a username they weren't able to choose/modify.

[2020-09-08 03:47] mikeallbutt opened #1056 "Link a users contact record to and from their system settings user profile page"
When a user also has a contact record (the page will say`This contact represents a user.`) is viewing their /settings/ page, there should be a link to take them to their contact record from the settings page, to make it easier to update or take notes and write @mentions etc.

[2020-09-08 03:50] mikeallbutt opened #1057 "Have a place where a user can write private notes"
The users profile page could have a place where the user can makes notes that only they can see. This would be useful if there were things they wanted to remember (private/sensitive conversation) that other users need not be reading.

[2020-09-08 03:57] mikeallbutt commented on #1034
The Facebook colour is #3b5998

[2020-09-08 04:29] mikeallbutt commented on #1008
What do you think of this concept? @ahillbilly and @corsacca

[2020-09-08 09:18] corsacca commented on #1056
For structure and privacy reasons most users will NOT have access to their contact record.
These sound like good features. We can consider implementing them separately, on the profile page perhaps, or the dashboard.

[2020-09-08 09:22] corsacca commented on #557
@mikeallbutt sounds like you are requesting a different feature (setting or changing the username). Since this issue is related to the display name (not the username) we request you create a separate github issue for your request.

[2020-09-08 09:26] corsacca commented on #775
@mikeallbutt  Hey, Are you talking about the interface language or the "Languages you are comfortable speaking " field?
Being able to set a language (with the default already set) when a user is created might be a good request for a new isssue.

[2020-09-08 10:30] ahillbilly commented on #775
@mikeallbutt this was last closed acknowledging that custom fields would address an instance's issue of desiring to record contacts' language spoken.  I still see it as complete in addressing this issue.  I agree with @corsacca that this would make a good request for a new issue.

In my mind, it is better to let the contact (new user) set the languages that they are comfortable working in rather t

[2020-09-08 10:30] #775 closed

[2020-09-08 11:55] ahillbilly commented on #1008
This is super helpful with the additional explanation. My only comment would be to keep consistency between the color used in this display and the color used in the status display.

Also, I think closed contacts names are already greyed out in the type-ahead, but this would further add clarity as long as the colors don't add too much noise.

[2020-09-08 11:57] ahillbilly commented on #568
I like this idea.  I think it might be a large project that would require a shift from the current @mentioning of users.  It would allow links to other records more freely.

[2020-09-08 12:36] mikeallbutt commented on #1008
@ahillbilly yes the colours would be the same as the `Status` colors. The same idea would be useful to be added to the Contact List / Groups List pages.

[2020-09-08 12:55] mikeallbutt commented on #1037
Fixed with commit https://github.com/DiscipleTools/disciple-tools-theme/commit/52c887f19ca4433d9bbdd2f54c4651152540f545

[2020-09-08 12:56] mikeallbutt commented on #1036
Fixed with commit https://github.com/DiscipleTools/disciple-tools-theme/commit/52c887f19ca4433d9bbdd2f54c4651152540f545

[2020-09-08 12:56] #1036 closed

[2020-09-08 13:06] mikeallbutt opened #1058 "Custom Fields Icons"
Icons are often used to make is easier for the user to identify what a field is for. All of the icons are coded into the design, but if the reference to the icon was editable, then it would be possible to adjust (re-skin) the icon for the field.

If the icons were font images (emojis) then that would be easier to modify and select. The system admin would choose a font library and then assign the i

[2020-09-08 14:16] mikeallbutt commented on #1050
In the WP-admin area these wordings are adjustable.

![Screen Shot 2020-09-08 at 9 13 47 am](https://user-images.githubusercontent.com/43966676/92488031-a6e9c680-f1b3-11ea-91d3-538f5c3d1076.png)

The text can be changed but not the icon associated with it. Nor can a new quick action button be added. These two things would be good to have.

[2020-09-08 14:30] mikeallbutt opened #1059 "Choosing the username when `Make User From Contact`"
When the `Admin action` of `Make User From Contact` is invoked,

![Screen Shot 2020-09-08 at 9 24 27 am](https://user-images.githubusercontent.com/43966676/92489354-4e1b2d80-f1b5-11ea-93e3-651e175e53cd.png)

a modal appears that gives a way to create a new user from the current contact.

![Screen Shot 2020-09-08 at 9 23 20 am](https://user-images.githubusercontent.com/43966676/92489390-570bff00-f1

[2020-09-08 14:35] mikeallbutt commented on #557
The `Display name` field could be added to the `Extra Disciple.Tools Information` area in WP admin like it is available in the modal.

![Screen Shot 2020-09-08 at 9 33 16 am](https://user-images.githubusercontent.com/43966676/92490393-971fb180-f1b6-11ea-89fb-5c49565d47f3.png)

[2020-09-09 02:36] mikeallbutt commented on #1007
@corsacca No it isn't dependant on it but could work well with it. Just being able to log that a group meets could then be used in the metrics to see how many times groups are meeting weekly, monthly etc.

[2020-09-09 10:49] mikeallbutt commented on #846
@corsacca and @ahillbilly Having a filter to be able to see who leaders would be a possible first step to access this information. At present I don't thing there is anyway to see which contacts have been designated as group leaders.

[2020-09-09 11:01] ahillbilly commented on #846
This data isn't currently saved on the contact records of the group members, but is saved in the group record.  We will need a function to add this data from the group record/interface to the contact record so that it will then make the contacts filterable by this data.  It would probably be a good idea to work this into the contact record interface as well.

[2020-09-09 11:15] mikeallbutt opened #1060 "Identify a contact is being a leader of a group on their contact record"
On the contacts' record, have a place where it is shown which group they are leaders of. It could probably be placed in the `Groups` field of the `Connections tile` and display it as an added icon (footprint) to the name of the group if they are leading it.

_Originally posted by @ahillbilly in https://github.com/DiscipleTools/disciple-tools-theme/issues/846#issuecomment-689488088_

[2020-09-09 12:30] mikeallbutt opened #1061 "Link languages data between a contact record and their user profile"
The main idea is to let the contact, who is also a user, to set the languages that they are comfortable working in and have that data reflect in their connected contact record and be the same as what is in their WP profile.

In the `User profile` area there is a place that a user can specify `Languages you are comfortable speaking` and choose various languages. There is also a WP setting for `Lang

[2020-09-09 12:41] mikeallbutt opened #1062 "Choosing the system language when creating a new user"
When a DT instance is used by people who speak different languages, the instance by default sends the signup process on the system language. If the contact doesn't speak that language but gets the email invitation in it, it is confusing for the new user.

Have a field on the `Make User From Contact` modal (and in WP admin > New User) that offers the selection of what language the email invitation

[2020-09-09 12:49] mikeallbutt commented on #758
@corsacca I am wanting to working on this issue. I was thinking of using the same font icons that are used in the DT app.

Maybe we could switch the icons on the web to use the same as what's in the app or vice versa. It would be good to use less font libraries to keep the overheads lower.

[2020-09-12 19:54] mikeallbutt opened #1063 "Missing the clear search button in Firefox browser"
The icon and functionality to clear the search box on the list pages of groups and contacts is available in Safari and Chrome but missing from Firefox.

Safari
<img width="643" alt="Screen Shot 2020-09-12 at 2 49 11 pm" src="https://user-images.githubusercontent.com/43966676/93003803-679add00-f507-11ea-9de6-2aa74d50eb7f.png">

Chrome
![Screen Shot 2020-09-12 at 2 48 53 pm](https://user-images.gith

[2020-09-14 08:58] corsacca commented on #1063
Thanks @mikeallbutt . These screenshots are super helpful!

[2020-09-14 15:00] corsacca opened #1064 "Date fields wrong timezone"
The date field stores the time as the start of the day utc. This gets converted to the previous day in other time zones: seehttps://github.com/DiscipleTools/disciple-tools-mobile-app/issues/408

[2020-09-15 08:56] corsacca commented on #758
Notes:
We are more and move moving to the link to the icons for each field are being stored in the field declaration array.
This will enable admin users to change the icon for a field (or field values) if they want.

Location field example:
[code]

A challenge will be to have this strategy also work for font icon sets.

[2020-09-16 09:03] mikeallbutt opened #1065 "Indicate how many people have access to a record"
Sharing records helps prevent duplicate records so having a counter that informs the DT user how many people this record is shared with will help be aware if the count is low (just 1 person / them).

The information could be displayed where these buttons are.

![Screen Shot 2020-09-16 at 3 59 52 am](https://user-images.githubusercontent.com/43966676/93316169-7caa9100-f7d1-11ea-8bf1-36be7b2b1bdc.pn

[2020-09-16 09:48] corsacca commented on #1065
To consider along with: https://github.com/DiscipleTools/disciple-tools-theme/issues/726

[2020-09-17 11:07] mikeallbutt commented on #929
@corsacca and @micahmills where are we up to with this long standing issue?

[2020-09-21 14:44] mikeallbutt commented on #1042
If you have this error, look for a contact that has the same contact set in the fields of `Baptized by` and `Baptized`. Remove the incorrect data and the loop will be fixed. ;)

PS. The same issue can happen for Coaching.

[2020-09-21 17:35] mikeallbutt opened #1066 "Notifications timestamp not being calculated with system timezone"
The date when the notification was logged is not taking into account the timezone that the DT instance is set to use.
eg. this image is from an instance with -5 GMT and the notification should be just 10 minutes early - and not 5 hours.

<img width="256" alt="Screen Shot 2020-09-21 at 12 32 06 pm" src="https://user-images.githubusercontent.com/43966676/93800915-e1694f80-fc06-11ea-9f51-34a022f1f451

[2020-09-22 09:49] corsacca commented on #1066
Notifications should be based on the user's time. What do you mean by "10 minutes early"?

[2020-09-22 20:20] mikeallbutt commented on #1066
It should say: less than 1 hour ago (or 10 minutes ago) and not 5 hours ago.

[2020-09-23 05:49] micahmills opened #1067 "Date picker replacement"
We have mentioned before that the jquery date picker we are using is out of date and seemingly not maintained anymore. I ran across https://github.com/duetds/date-picker as a possible replacement today.

[2020-09-23 08:47] corsacca commented on #1067
@micahmills that one looks nice.
D.T also uses a second date-picker: https://www.daterangepicker.com/. It is designed for date ranges but also can but used as a normal picker.
Since it is already included with D.T i'd like to evaluate whether it would work for all date pickers.

[2020-09-23 11:45] ahillbilly commented on #929
I think that they think it was fixed and need to know where it is still an issue if it is.

[2020-09-23 11:54] Ferny-Gomez commented on #696
A User mentioned: I have a user asking about setting a date for quick actions. For example, he is recording actions that took place a few days earlier, but it is recorded as happening today. I also have thought it could be useful to be able to override the date for those actions (and possibly have more info attached). Anyone else have this desire too?

[2020-09-30 14:27] mikeallbutt commented on #929
@ahillbilly & @corsacca

This is still an issue. It is in the details tile and the name field of the list page - this is for both Contacts and Groups.

[2020-10-08 15:42] ahillbilly commented on #929
After a bit of investigating, there are two ways of half fixing it, but they haven't figured out a safe way of fixing both at the same time... much of the current work being done could affect this issue, so it will need to stay on hold while the other is completed and then be re-addressed.

[2020-10-11 23:13] mikeallbutt opened #1069 "Indicate a group member as being inactive in that group"
Some contacts will attend a group for a while but might stop participating. What should be done with them regarding to leave them in the member count or remove them. If we want dt to have good metrics the contact should be removed but I wonder if there could be a way to set them as just being inactive and not remove them all together. Some people might be away from the group for a few months due t

[2020-10-11 23:26] mikeallbutt commented on #1034
These extra colours are available in the app so it would be good to have them functioning in the theme too.

[2020-10-14 11:23] corsacca opened #1070 "Transferring a contact times out."
Error shown:
cURL error 28: Operation timed out after 5001 milliseconds with 0 bytes received

When transferring a large contact (maybe with many comments) the remote takes more time to create the contact.
The transfer request only waits for 5 seconds before giving up and trying again.
This result in the error above and 2 contacts created on the remote instance.

Fixes:
- increase the timeout on t

[2020-10-19 07:53] micahmills commented on #1064
I looked into this a bit last night. The dates are not actually being saved at the start of the date UTC they are being saved at the start of the day for the timezone the user is in when they save the date.

So if you save the date of October 1st in Istanbul, it saves the time stamp of 1601499600 if you save that date in San Francisco it saves the time stamp of 1601535600.

We can fix this going f

[2020-11-02 16:47] corsacca commented on #1064
Closed by #1071

[2020-11-02 16:47] #1064 closed

[2020-11-10 15:29] corsacca commented on #957
Is implemented.

[2020-11-10 15:29] #957 closed

[2020-11-10 15:30] corsacca commented on #952
This is implemented.

[2020-11-10 15:30] #952 closed

[2020-11-10 15:44] corsacca commented on #594
This is implemented

[2020-11-10 15:44] #594 closed

[2020-11-10 15:44] corsacca commented on #570
This is done in the mobile app.

[2020-11-10 15:44] #570 closed

[2020-11-10 15:48] corsacca commented on #819
This is implemented

[2020-11-10 15:48] #819 closed

[2020-11-10 20:30] micahmills commented on #454
With the coming release of the updated contact-types I thought having a bulk edit feature would be a good addition. So I have started to brain storm how this might work and look. Here is what I am thinking and I would be interested in your feedback.

Add "Bulk Edit" button next to the new "Fields" button. That will add checkboxes next to all the contacts/groups that are showing and open up a box s

[2020-11-11 10:11] corsacca commented on #454
Those are great elements to start with! We can modularize it and make whole field types available (key_select, multi_select, connections...) as v2.
Other field to bulk update: Contact type, location, group, coach, tag.
The update strategy sounds good.

[2020-11-11 10:35] corsacca commented on #454
Some of these won't apply if the access module or the dmm module and disabled.

[2020-11-18 08:50] micahmills commented on #454
Hello gentlemen, I have created a PR for bulk editing. If you guys could take a look at it and let me know what you think.

https://github.com/DiscipleTools/disciple-tools-theme/pull/1077

[2020-12-08 08:24] cairocoder01 opened #1085 "Site Links - Site URL incorrect for subdirectory multi-sites"
When running a multi-site instance that uses a subdirectory structure instead of subdomain, using the "add this site" button in the new site link page adds the root site instead of the current site.

For example, the multisite is hosted on mydomain.com with sub-sites on mydomain.com/site1 and mydomain.com/site2, the "add this site" button will always insert "mydomain.com" instead of the appropriat

[2020-12-10 14:12] #1085 closed

[2020-12-11 09:42] corsacca commented on #454
The PR has been merged. Thank you @micahmills for your hard work!

[2020-12-11 09:51] #454 closed

[2020-12-11 09:52] corsacca opened #1090 "Lists: Add location to Bulk Edit actions."

[2020-12-11 09:52] corsacca commented on #454
See https://github.com/DiscipleTools/disciple-tools-theme/issues/1090 for locations field.

[2020-12-16 14:35] corsacca commented on #703
Closed by https://github.com/DiscipleTools/disciple-tools-theme/pull/1096/

[2020-12-16 14:35] #703 closed

[2021-01-15 09:42] corsacca commented on #762
Implemented in v1.

[2021-01-15 09:42] #762 closed

[2021-01-15 09:43] corsacca commented on #746
Implemented in v1.

[2021-01-15 09:43] #746 closed

[2021-01-15 09:43] corsacca commented on #701
Implemented in v1.

[2021-01-15 09:43] #701 closed

[2021-01-15 09:44] corsacca commented on #462
A user can now delete contacts/groups that they create.

[2021-01-15 09:44] #462 closed

[2021-01-15 09:44] corsacca commented on #1006
Implemented in v1.

[2021-01-15 09:44] #1006 closed

[2021-01-15 09:45] #779 closed

[2021-01-15 09:48] corsacca commented on #785
The age field can now be hidden in from the field settings UI

[2021-01-15 09:48] #785 closed

[2021-01-15 09:49] corsacca commented on #876
Fields and tiles are now fully customizable in V1

[2021-01-15 09:49] #876 closed

[2021-01-15 09:49] corsacca commented on #684
Implemented in v1.

[2021-01-15 09:49] #684 closed

[2021-01-15 10:46] corsacca opened #1106 "Consideration: use a font icon library."
D.T uses svg icons and displays them next to field name.
Many of them come from https://thenounproject.com/

Would using a font icon library be faster and more convenient?
What happens when a icon can not be found in the library?

Libraries suggested: Font Awesome.

Requirements:
- We'd like the theme and the mobile app to be able to use the same icons.
- We'd like the user to be able to select an

[2021-01-15 10:48] corsacca commented on #1058
This issue would be resolved in by this one:
https://github.com/DiscipleTools/disciple-tools-theme/issues/1106

[2021-01-15 10:48] #1058 closed

[2021-01-15 11:04] corsacca commented on #1027
V1 now has icons for each default field.
Other icon considerations can be found here https://github.com/DiscipleTools/disciple-tools-theme/issues/1106

[2021-01-15 11:04] #1027 closed

[2021-01-15 11:06] corsacca commented on #758
All default fields have icons now in v1.
Moved font icon library discussion here:
https://github.com/DiscipleTools/disciple-tools-theme/issues/1106

[2021-01-15 11:07] corsacca commented on #1106
Notes:
The link to the icons for each field are being stored in the field declaration array.
This will enable admin users to change the icon for a field (or field values) if they want.

Location field example:
[code]

It is then rendered in on the front-end next to the field name
[code]

A worthy goal for the brave will be to have this strategy also work for font icon sets.

[2021-01-15 11:10] #758 closed

[2021-01-15 11:11] corsacca commented on #1055
This is now available in V1

[2021-01-15 11:11] #1055 closed

[2021-01-15 11:13] corsacca commented on #1053
Implemented in v1.

[2021-01-15 11:13] #1053 closed

[2021-01-15 11:13] corsacca commented on #1052
Possible now in v1

[2021-01-15 11:13] #1052 closed

[2021-01-15 13:53] corsacca commented on #1050
The quick actions currently don't show up in the fields list.
We want to:
- be able to change the name and icon of the quick action.
- be able to add new quick actions.

How to proceed: copy the Contact Communication Channels from WP-Admin > Settings (DT) > Custom Lists
![image](https://user-images.githubusercontent.com/24901539/104734833-1f9ff700-5741-11eb-958f-1f349d7a9c63.png)

Implement simila

[2021-01-16 12:20] micahmills commented on #1106
Icon fonts have some performance and accessibility issues. I think SVGs are the better solution in almost every way. The one thing icon fonts give you is the ability to let the end user select an icon from a preset list, but that has the downside of making it hard add custom stuff.

I think that if the end goal is to make it easier for people to swap out icons we could get a large set of SVG icons

[2021-01-18 09:20] corsacca commented on #1106
Great feedback. Thank you @micahmills
I like the idea of the user being able to upload an svg to use for a field icon.

[2021-01-19 08:50] micahmills commented on #1090
This can be closed

[2021-01-19 09:19] #1090 closed

[2021-01-19 10:51] corsacca commented on #1023
Implemented in v1

[2021-01-19 10:51] #1023 closed

[2021-01-19 10:58] corsacca commented on #1013
@mikeallbutt Please check the translation of `Showing _START_ of _TOTAL_`  in Spanish in poeditor.
Made sure `of` is also translated.

[2021-01-19 11:00] #420 closed

[2021-01-19 11:01] corsacca commented on #463
No longer an issue.

[2021-01-19 11:01] corsacca commented on #455
No longer an issue.

[2021-01-19 11:01] #455 closed

[2021-01-19 11:03] #463 closed

[2021-01-19 11:06] corsacca commented on #683
1. Links are implemented
2. The notification goes away.

[2021-01-19 11:06] #683 closed

[2021-01-19 11:09] corsacca commented on #728
Implemented in v1

[2021-01-19 11:09] #728 closed

[2021-01-19 11:09] corsacca commented on #704
Implemented with the mapbox key.

[2021-01-19 11:09] #704 closed

[2021-01-19 18:45] mikeallbutt commented on #1007
This feature is available in the app (using a plugin at present that) but needs to be implemented in the theme.

[2021-01-20 11:08] jlebouch76 opened #1112 "Feature request: more information in group members list"
In the same way that you use the feet symbol to show who is the leader in a group, could you show a symbol (like maybe a vertical cross) next to each baptised contact names who are group members?
In this way, we would quickly see who is a baptised and who is not. Right now, we have to open a tab for each group member in order to get the info. This feature is a must for a team manager who may not n

[2021-01-22 16:21] mikeallbutt opened #1113 "Hide/Archive not being respected"
In certain places, some fields are still appearing even though in the settings they have been marked as hidden or archived.

- On the records list page in the show fields area
- Faith milestones (but probably all columns too need a check put in place)

The settings say hide (not enable):
![Screen Shot 2021-01-22 at 10 13 55 am](https://user-images.githubusercontent.com/43966676/105516311-59ba4d00-

[2021-01-22 16:27] mikeallbutt commented on #1060
Using the `faith_status` field, a user can now indicate a contact as being  a leader. What would be good is to have that indicated elsewhere where the record appears.

Maybe this could be done by makeing `bold` the name when it is in a drop down list.

[2021-01-22 16:42] mikeallbutt opened #1114 "List page heading for row number column"
On the records list pages it is possible to move the columns and click the icons to sort by that field/column. The #746 added number column but it has no heading nor icons to sort by that field. Adding this will allow people to move the column if so desired and also sort in reverse order.

<img width="534" alt="Screen Shot 2021-01-22 at 10 33 27 am" src="https://user-images.githubusercontent.com/4

[2021-01-24 10:06] mikeallbutt opened #1115 "Connect faith status of a contact to leader if they are marked as leading a group"
A group record can have it be indicated that a member is leading it. This detail should be connected to the contact record so that if a contact does not the faith status set to leader, the system offers to adjust the contact record.

The same type of thing might be done when a contact has their faith status set to leader but they aren't marked as actually leading any groups.

[2021-01-24 10:12] mikeallbutt opened #1116 "Create contact for coached by icon on mobile missing"
![Screenshot_20210124-040740.png](https://user-images.githubusercontent.com/43966676/105627040-cfd4c600-5df9-11eb-8e31-0e41be2c3d5f.png)

The icon to create a contact from the coached by field is non visible on a mobile phone browser.

When there is no info in the field, the icon is displayed.

![Screenshot_20210124-041823.png](https://user-images.githubusercontent.com/43966676/105627275-92713800-

[2021-01-24 10:27] mikeallbutt opened #1117 "Update needed tile link to comment field"
Have a link to the write a comment field from the update needed notification alert tile.

![Screenshot_20210124-041915.png](https://user-images.githubusercontent.com/43966676/105627297-b5035100-5dfb-11eb-9893-9100059443b9.png)

This would be especially helpful on a mobile, so that the user who sees the notice just clicks the link and the page scrolls to the correct area on the current page so they

[2021-01-24 10:38] mikeallbutt opened #1118 "Record name often not visible mobile devices"
Once the screen is scrolled down, the name of the contact or group is no longer visible. It could be fixed by using a fixed header that always displays the name of the contact or group.

As seen in this image, there is no info about what record is being viewed etc.

![Screenshot_20210124-043139.png](https://user-images.githubusercontent.com/43966676/105627675-d5340f80-5dfd-11eb-9a5a-c08fff515f39.p

[2021-01-24 10:55] mikeallbutt opened #1119 "Details tile minimise function to hide data"
When a user clicks the arrow button on the top right of a tile, the tile minimises (or reverses the minimumise). But with the details tile, the icon opens the tile and displays all the fields that can be edited.

![Screenshot_20210124-044511.png](https://user-images.githubusercontent.com/43966676/105628078-66a48100-5e00-11eb-981c-ed227c1353ec.png)

I suggest that the minimumise icon works to show

[2021-01-24 11:02] mikeallbutt commented on #1116
The same thing happens in the other tile with the groups field of a contact record.

![Screenshot_20210124-050106.png](https://user-images.githubusercontent.com/43966676/105628233-65278880-5e01-11eb-9fb6-8158ed60aeec.png)

[2021-01-24 11:07] mikeallbutt opened #1120 "Have different icons for each field"
Some of the same icons are being used for different fields.

![Screenshot_20210124-050403.png](https://user-images.githubusercontent.com/43966676/105628326-d7986880-5e01-11eb-9102-b3ba4eb5f113.png)

It would be good to NOT reuse the same icon if a field is different to one where an icon is already being used.

[2021-01-24 11:25] mikeallbutt opened #1121 "All contacts number displayed in contact filters tile"
In the filter tile I would like to see displayed the number of how many contacts are in my instance. And for how many are closed/archived.

At present, most counts are displayed but not all.

![Screenshot_20210124-052009.png](https://user-images.githubusercontent.com/43966676/105628762-6e662480-5e04-11eb-86d3-78c4bfea32cb.png)

[2021-01-24 11:37] mikeallbutt opened #1122 "Filters should not be activated unless requested"
When using the filters in the filter tile, if I click the plus or minus icon to open or close that filter area, I might not want the first filter to be activated but instead just view the list of filters and then choose a filter.

![Screenshot_20210124-052750.png](https://user-images.githubusercontent.com/43966676/105629028-45df2a00-5e06-11eb-8f7a-8067d2432808.png)

[2021-01-24 11:42] mikeallbutt opened #1123 "Fields selector on mobile devices is difficult visually"
Because there are so many options available when adjusting what fields to show on the record list page, it is difficult to work out which box is for which option. Is the item listed referring to the box above or below?

![Screenshot_20210124-053406.png](https://user-images.githubusercontent.com/43966676/105629103-a3737680-5e06-11eb-8a9a-1b07a7794cfb.png)

[2021-01-24 13:03] mikeallbutt opened #1126 "Missing people group item numbers"
In the user settings page, the people groups drop down list is missing the record number next to the item to help distinguish them.

Missing
![Screenshot_20210124-065731.png](https://user-images.githubusercontent.com/43966676/105631068-1cc49680-5e12-11eb-80d3-56dc72ba703d.png)

How it should be
![Screenshot_20210124-065908.png](https://user-images.githubusercontent.com/43966676/105631075-2817c200-

[2021-01-24 13:20] mikeallbutt opened #1128 "Rearrange the order of member list items"
Have the ability in member list to manually arrange the items to be in whatever order a user prefers.

When looking at a list it is often useful to group contacts together (family members, alphabetical).

![Screenshot_20210124-071447.png](https://user-images.githubusercontent.com/43966676/105631545-99f10b00-5e14-11eb-957b-80cda2abf167.png)

[2021-01-24 23:39] micahmills commented on #1118
This is addressed in PR #1129.

[2021-01-25 00:34] micahmills commented on #1069
I think this is the same as #1008, but I could be wrong.

[2021-01-25 00:38] micahmills commented on #970
I believe we have fixed this in another way

[2021-01-25 00:38] #970 closed

[2021-01-25 00:43] #931 closed

[2021-01-25 01:35] micahmills commented on #869
This is resolved with in v1.0

[2021-01-25 01:36] micahmills commented on #867
this is resolved in v1.0

[2021-01-25 01:37] micahmills commented on #849
I think this is taken car of as well

[2021-01-25 08:36] corsacca commented on #867
This is the modal for the create group:
![image](https://user-images.githubusercontent.com/24901539/105680828-9763e380-5ef0-11eb-833b-0ded6be84fa4.png)
I think the original request is for the ability to add fields to this modal.

[2021-01-25 08:37] corsacca commented on #869
This is the modal for the create contact:
![image](https://user-images.githubusercontent.com/24901539/105680828-9763e380-5ef0-11eb-833b-0ded6be84fa4.png)
I think the original request is for the ability to add fields to this modal.

[2021-01-25 08:44] corsacca commented on #1121
Those 2 specific queries are very resource intensive. So we chose not to implement them.

[2021-01-25 08:44] #1121 closed

[2021-01-25 08:46] corsacca commented on #1120
This concerns the https://github.com/DiscipleTools/disciple-tools-training plugin.

[2021-01-25 08:48] corsacca commented on #1119
Thank for your feedback. We prefer to have the details always visible.

[2021-01-25 09:08] corsacca commented on #1114
Like in excel, the number is just the number of the row. the 1st row will always be #1, so it should always be first and it can not be sorted by.

[2021-01-25 09:08] #1114 closed

[2021-01-25 09:43] #1123 closed

[2021-01-25 10:26] corsacca commented on #219
For security and privacy sharing a group with a user will not share each contact with the user.

[2021-01-25 10:26] #219 closed

[2021-01-25 10:33] corsacca commented on #190
Extra or unknown group members are tracked by updating the member count field:
![image](https://user-images.githubusercontent.com/24901539/105694354-2b3dab80-5f01-11eb-8957-bc73537d71a0.png)

[2021-01-25 10:33] #190 closed

[2021-01-25 10:34] corsacca commented on #323
Extra members are tracked using the member count field:
![image](https://user-images.githubusercontent.com/24901539/105694410-3b558b00-5f01-11eb-8586-e0637e235b52.png)

[2021-01-25 10:34] #323 closed

[2021-01-25 10:35] corsacca commented on #340
This issue is closed because of the lack of interest or need in it's development.

[2021-01-25 10:35] #340 closed

[2021-01-25 10:50] corsacca opened #1131 "Ability to change the date and time of a quick action on a contact."

[2021-01-25 10:52] corsacca commented on #1131
A User mentioned: I have a user asking about setting a date for quick actions. For example, he is recording actions that took place a few days earlier, but it is recorded as happening today. I also have thought it could be useful to be able to override the date for those actions (and possibly have more info attached). Anyone else have this desire too?

[2021-01-25 10:53] corsacca commented on #696
The comment date is meant to indicate when a comment was made by a user. Not when a certain activity happened.
For changing quick action dates, see https://github.com/DiscipleTools/disciple-tools-theme/issues/1131.
When we have a meeting tracking, changing the date will be included in the options.

[2021-01-25 10:53] #696 closed

[2021-01-25 10:55] corsacca commented on #494
Duplicate of https://github.com/DiscipleTools/disciple-tools-theme/issues/766

[2021-01-25 10:55] #494 closed

[2021-01-25 10:59] corsacca commented on #777
The group status is available on the create group page.

[2021-01-25 10:59] #777 closed

[2021-01-25 11:02] corsacca commented on #862
Implemented in v1.

[2021-01-25 11:02] #862 closed

[2021-01-25 11:25] mikeallbutt opened #1132 "Duplication of Extensions (DT) menu item"
The extensions menu item is replicated for a user when it is set to use the default language and not one of the installed ones of my choice.

<img width="530" alt="Screen Shot 2021-01-22 at 7 04 46 am" src="https://user-images.githubusercontent.com/43966676/105699879-a5ecd380-5ecd-11eb-9891-6d6692a420b5.png">

As noted in Slack https://disciple-tools.slack.com/archives/CDXNVC892/p1611296575007600

[2021-01-25 11:49] mikeallbutt opened #1133 "Groups list page says "Sorting By: -undefined""
The list is sorted but the info of what order is being used is not being identified and listed correctly.

![Screen Shot 2021-01-25 at 5 45 16 am](https://user-images.githubusercontent.com/43966676/105702173-016c9080-5ed1-11eb-8d56-ae48939be162.png)

[2021-01-25 12:00] mikeallbutt opened #1134 "Offer help/documentation when creating new items"
Like in other locations in DT, have the ? icon next to (after) the heading in the main tile so that a user can click it and it will open a modal that explains the fields for that page.

- new contact
- new group
- new (other items etc.)

[2021-01-25 12:03] corsacca commented on #871
We need to keep the functionality, so will not be able to filter out the unconnected contacts.

[2021-01-25 12:03] #871 closed

[2021-01-25 12:09] mikeallbutt opened #1135 "Create new > Hide or show all fields"
When creating an record, below the main few fields there is a text link that says "Show all fields". When it is clicked, the text disappears and there is now way to hide the extra fields that are now displayed below.

![Screen Shot 2021-01-25 at 6 01 47 am](https://user-images.githubusercontent.com/43966676/105703768-57423800-5ed3-11eb-859e-b85f5dcb2b21.png)

If the "Show all fields" link area sta

[2021-01-25 12:19] corsacca commented on #801
Implemented in v1

[2021-01-25 12:19] #801 closed

[2021-01-25 12:26] corsacca commented on #1003
Implemented in v1

[2021-01-25 12:26] #1003 closed

[2021-01-25 12:34] mikeallbutt opened #1136 ""Search (the name of the field" text in fields not always visible"
Have all the fields consistent that the "light grey coloured text" in a field that says "Search (the name of the field etc.)", that this text is completely visible.

As in the attached image for a Group record, it displays as expected for "Parent Group" and "Trainings" but not "Peer Group" or "Child Group"

![Screen Shot 2021-01-25 at 6 22 28 am](https://user-images.githubusercontent.com/43966676/

[2021-01-25 16:32] corsacca opened #1137 "API: Option to get api errors sent by email."
I have a custom form running. I would like to know if the api requests it makes to my D.T instance start failing.
- A log of D.T rest API errors in the wp-admin.
- An email sent to the admin to look at the log.

[2021-01-27 06:57] mikeallbutt opened #1139 "Locations field not functioning well"
As seen in the included image, the locations field is not respecting the line breaks and not showing all of the information.

![Screenshot_20210127-004725.png](https://user-images.githubusercontent.com/43966676/105954074-c9349180-6039-11eb-8183-4c7cfe293106.png)

Also, there is no way to adjust the information in the location summary (where it says "new south Wales..." )

And, if you click the red

[2021-01-27 07:00] mikeallbutt commented on #1139
There should be a better way to indicate that the locations of "new south wales, Brasil, new Mexico" are all different locations. It sort of looks they are part of the same place.

[2021-01-27 07:34] mikeallbutt opened #1141 "Leader count icon needed"
The group field "leader count" does not have an icon to help identify it.

It needs to be added to a group record page and the create new group page.

[2021-01-27 07:43] mikeallbutt opened #1142 "Assign a Tag when creating a new record"
When creating a new record (contact or group), be able to assign a Tag (and create and immediately apply the new tag) to a record before it is first saved.

[2021-01-27 08:07] mikeallbutt opened #1143 "Nickname icon not unique"
It would be good to have the `Nickname` field use a different icon to the `Name` field, which at present both use the same icon.

![Screenshot_20210127-020502.png](https://user-images.githubusercontent.com/43966676/105961580-4bc24e80-6044-11eb-8e32-578d2da43ef5.png)

[2021-01-27 08:15] mikeallbutt opened #1144 "Record name should not be able to left empty"
It should not be possible to have a record (contact, group, training etc. ) without text in the name field .

The image shows that it was possible to be done wherever editing was possible.

![Screenshot_20210127-020827.png](https://user-images.githubusercontent.com/43966676/105962460-782a9a80-6045-11eb-8fbd-048b0a068072.png)

[2021-01-27 09:06] mikeallbutt opened #1145 "Create and apply a tag directly from the tag auto-suggest list"
If you wanted to apply a tag to a record but as you typed you realised that the tag didn't yet exist, then it would be nice to be offered an option to create and apply that tag directly from the autosuggest list. The current icon to create new tags could stay but probably won't be needed too much.

![Screenshot_20210127-030517.png](https://user-images.githubusercontent.com/43966676/105968329-91831

[2021-01-27 09:11] mikeallbutt opened #1146 "Link to record type is wrong"
Clicking on the text link where in this image says `media Record`

![Screenshot_20210127-030149.png](https://user-images.githubusercontent.com/43966676/105968471-bf685980-604c-11eb-9c66-987165c836c2.png)

Opens the modal but incorrectly has selected the first option and not `access record`.

![Screenshot_20210127-030218.png](https://user-images.githubusercontent.com/43966676/105968667-fc345080-604

[2021-01-27 09:48] #1024 closed

[2021-01-27 13:45] corsacca commented on #1146
Fixed with the current facebook plugin

[2021-01-27 13:45] #1146 closed

[2021-01-27 13:46] corsacca commented on #1146
Thanks @mikeallbutt

[2021-01-27 13:56] micahmills opened #1149 "Links from Dashboard forwarded to Settings page"
The View View Contacts List and View All Buttons from the Dashboard plugin tiles get forwarded to /settings My guess is that is has something to do with the routes in the theme not the dashboard. The buttons are sending people to a link like `/contacts?list-tab=update_needed` but that is getting redirected to /settings.

[2021-01-28 03:24] mikeallbutt opened #1150 "Add space to search filters term"
When a custom search filter is used, the parameters are displayed but there is no space after the : symbol and the term.

![Screenshot_20210127-211958.png](https://user-images.githubusercontent.com/43966676/106085332-98aa3180-60e5-11eb-8f13-3d5cb3e55625.png)

[2021-01-28 03:36] mikeallbutt opened #1151 "List Filters: add label for empty select value."
It is possible to filter for items that are not set but the results summary doesn't indicate it.

As shown in the following images, the age field item of no age has been chosen, but nothing is displayed next to the parameter.

Maybe it could display for example
Age: not set

![Screenshot_20210127-213026.png](https://user-images.githubusercontent.com/43966676/106086196-4ff37800-60e7-11eb-8837-40ecc

[2021-01-28 12:52] corsacca commented on #1116
@mikeallbutt is this not for the mobile app instead of the theme?

[2021-01-31 11:02] mikeallbutt opened #1156 "Search field includes searching the nickname field"
The nickname field needs to be included in what is searched for when trying to locate a contact record.

[2021-01-31 13:50] mikeallbutt opened #1157 "Clickable People Group item resolves to 404 page"
In the `people group` field the items are clickable but take you to a page that doesn't exist so a 404 is generated.

![Screenshot_20210131-074247.png](https://user-images.githubusercontent.com/43966676/106386067-cf5ba280-6398-11eb-9d6a-fe37476f470d.png)

In the attached image, this is where it looks when the word `Mexican` is clicked.

https://oikos.disciple.tools/peoplegroups/159

[2021-01-31 16:32] mikeallbutt commented on #816
This has been implemented in the version 1 theme.

[2021-01-31 16:32] #816 closed

[2021-01-31 16:35] mikeallbutt opened #1158 "Nickname field changes to reflect in Activity logs."
When data is entered in the `Nickname` field, the changes need to be noted in the activity log.

[2021-02-01 10:32] corsacca commented on #929
Issue resolved for all titles going forward.

[2021-02-01 10:32] #929 closed

[2021-02-01 12:56] mikeallbutt opened #1161 "Create new groups when creating a new contact"
When a contact is being created [/contacts/new](url) there will be times that the contact is in a group but that group does not have a record so it can't be added to the details for the contact. Being able to create a group quickly so that the field of what group the new contact is in would help the new contact record be completed on first creation and not having to go and edit the record later.

[2021-02-01 22:50] mikeallbutt opened #1162 "Don't display in admin area the Four Fields fields when it is not enabled"
On the /wp-admin/admin.php?page=dt_options&tab=general in the `Group Tile Preferences` the `Four Fields` (and `Church Metrics`) can be enabled or disabled.
If it is disabled the references to it should not appear in `Modify an existing field` on the /wp-admin/admin.php?page=dt_options&tab=custom-fields dropdown list.

The references to these fields should also not appear in places like in the `Cho

[2021-02-02 01:57] mikeallbutt opened #1164 "Social media data links to appropriate website/system"
If there is data listed for a contact (in the details tile) with their Facebook or Instagram accounts, then have the text be a link to their Facebook or Instagram accounts.

[2021-02-02 02:08] mikeallbutt opened #1165 "Toggle for `Active` or `Inactive` in list views"
When filters are made, it lists all the records for the chosen filter topics. Many times it is useful to be able to toggle the records to see or not see the active or inactive records, without adjust the filter.
This functionality was available and useful pre version 1 of the theme.

[2021-02-02 02:32] mikeallbutt opened #1166 "List Filters: Create filter for items that are `not set`"
There are some fields where the option of `not set` can be selected and used to create a filter (Age; Reason Closed/Not ready/paused) but it would be good if the fields of `gender`, `Faith Milestones`, `faith status`, `seeker pathway`, `contact type`, `contact status` could have this functionality.

[2021-02-02 03:44] mikeallbutt opened #1167 "`Select all` for bulk edit should not include the header in the count of items to be adjusted"
If you select the top box (which is for the heading row) it gets counted in how many items will be adjusted in the bulk edit.

AS described in the [slack chat](https://disciple-tools.slack.com/archives/CDXNVC892/p1612225787088400).

[2021-02-02 04:31] mikeallbutt opened #1168 "Reorder the custom filter menu items"
The last filter is added to the end of the list of custom filters. It would be good to be able to manually reorder them so it is easier to locate and group similar filters.

[2021-02-02 05:44] mikeallbutt commented on #835
@ChrisChasm this would be great to get implemented soon now IMO ;)

[2021-02-02 09:17] #1010 closed

[2021-02-02 09:17] #1025 closed

[2021-02-02 09:17] #1117 closed

[2021-02-02 15:21] mikeallbutt opened #1169 "Dates are not correctly displaying in the user preferred language"
In some areas dates are displaying according to the instance language (Spanish) and not the user set language (English).

![Screen Shot 2021-02-01 at 13 58 42 ](https://user-images.githubusercontent.com/43966676/106621276-05835880-6538-11eb-88ed-1d349f7c2b3c.png)

[2021-02-02 15:40] mikeallbutt commented on #1141
@corsacca where could I look for a possible icon for this?

[2021-02-02 15:48] mikeallbutt opened #1170 "Undo icon hover displays code and not text"
When you hover over the under icon (meeting complete for a contact record) it is incorrectly referencing something so shows code and not a normal phrase.

![Screen Shot 2021-01-30 at 10 29 32 am](https://user-images.githubusercontent.com/43966676/106624556-67918d00-653b-11eb-8eb1-f822d37ac30f.png)

[2021-02-02 16:02] mikeallbutt commented on #1141
As was listed  https://github.com/DiscipleTools/disciple-tools-theme/issues/1027#issuecomment-760875372 will be helpful.

[2021-02-02 17:31] mikeallbutt commented on #1141
I think this would be a good one to use. It is similar but different to the other one.

https://thenounproject.com/search/?q=count&i=304008

[2021-02-02 17:37] #1035 closed

[2021-02-02 21:28] mikeallbutt opened #1172 "Metrics menu has headings that don't function"
When signed in as a multiplier, the menu tile on the left side (as seen in the attached image) has some items (Contacts, Groups) that do not actually link to anything. They either need to be removed or be linked to a page.

![Screen Shot 2021-02-02 at 15 25 07 ](https://user-images.githubusercontent.com/43966676/106664833-37fa7900-656b-11eb-951c-87c8f9055e3b.png)

[2021-02-02 23:21] mikeallbutt opened #1173 "Help icon opens empty modal on the Your Profile settings page"
Clicking the ? icon in the top right corner of the Your Profile tile of the users settings page opens a modal but it is completely empty.

![Screen Shot 2021-02-02 at 17 19 36 ](https://user-images.githubusercontent.com/43966676/106675528-de9a4600-657a-11eb-9ed5-5b28379f2995.png)

The same happens in the notifications tile down below.

![Screen Shot 2021-02-02 at 17 22 27 ](https://user-images.git

[2021-02-02 23:36] mikeallbutt opened #1174 "Text stays in English and not being translated"
Here are some places where text in the code uses English and not available to be translated - but should be.

The last tile of the  /settings page

![Screen Shot 2021-02-02 at 17 33 27 ](https://user-images.githubusercontent.com/43966676/106676754-17d3b580-657d-11eb-8764-ff3e2cad8e31.png)

[2021-02-03 01:42] mikeallbutt opened #1175 "Connecting a user to a contact logs unfriendly string in activity log."
This message was logged when a new user in wp admin was created and connected to an existing contact. Instead of saying `corresponds_to_username` it should read more natural. `Connected to user`

![Screenshot_20210202-191559.png](https://user-images.githubusercontent.com/43966676/106685469-119a0500-658e-11eb-9a50-ce2d0e8dc306.png)

[2021-02-03 05:41] mikeallbutt commented on #1116
This has been fixed.

[2021-02-03 05:41] #1116 closed

[2021-02-03 05:47] mikeallbutt opened #1176 "The HTML & amp; symbol is showing in lists"
There are places where the & amp; symbol is showing as HTML and it should not.

- the name of a member in the group members list

![Screenshot_20210202-234023.png](https://user-images.githubusercontent.com/43966676/106703776-89792700-65b0-11eb-984d-5ed32030dbc7.png)

- drop down lists

![Screenshot_20210202-234641.png](https://user-images.githubusercontent.com/43966676/106704042-04dad880-65b1-11eb

[2021-02-03 15:11] mikeallbutt opened #1177 "Multiple nicknames"
Being able to assign multiple nicknames like what can be done if people have multiple email address.

[2021-02-03 16:16] corsacca commented on #1177
@mikeallbutt Can you test adding a nickname option via the communication channels list?

[2021-02-03 20:02] mikeallbutt opened #1179 "Have a `Save tile and field order` button at the top of the `Sort Tiles and Fields` tile"
Because the `Sort Tiles and Fields` on the /wp-admin/admin.php?page=dt_options&tab=custom-tiles page, the save button at the bottom of the tile is not visible many items. Have a button at the top and bottom will help the users.

[2021-02-03 20:07] mikeallbutt opened #1180 "`Gender` should not be changable from the `Your Profile` tile on the /settings/ page"

[2021-02-03 21:15] mikeallbutt commented on #1179
The same idea would be good for the `New record page` which has a `Save` button at the bottom of each tile.

[2021-02-04 07:57] corsacca commented on #1180
@mikeallbutt please provide more detail as to the reason for the issue and the expected outcome.

[2021-02-04 08:02] mikeallbutt commented on #1180
The info in that tile of the settings page is all static and if someone wants to adjust anything they just click the `Edit` link in the top right side. This `Gender` field is the only one editable - so it seems strange to only have that one changeable without going into Edit mode.

![Screen Shot 2021-02-04 at 01 59 53 ](https://user-images.githubusercontent.com/43966676/106862697-15608100-668d-11e

[2021-02-04 08:17] mikeallbutt commented on #1177
Well that worked!

![Screen Shot 2021-02-04 at 02 17 12 ](https://user-images.githubusercontent.com/43966676/106864213-2d390480-668f-11eb-82dd-b666e85a4348.png)

[2021-02-04 08:25] mikeallbutt commented on #1177
Could I assume then that if the info stored in the communication fields will also get searched when looking for a name?

[2021-02-04 08:42] mikeallbutt opened #1183 "WP Admin `Tiles` tab page has tile layout issues"
1. There is no space above the first tile (`Edit Tiles`) and the tabs across the top above it.
2. The `Edit Tiles` tile is full width. Instead it should allow for a right column where the `Help` tile can be located.

![Screen Shot 2021-02-04 at 02 34 44 ](https://user-images.githubusercontent.com/43966676/106866813-86eefe00-6692-11eb-8302-6a0c3d11c120.png)

As seen on:
 - OS: Mac 10.14.6
 - Browse

[2021-02-04 08:50] corsacca commented on #1183
The help column is in the intended location. The gif is not needed till a post type is selected

[2021-02-04 08:52] #1141 closed

[2021-02-04 12:43] trip-nine opened #1184 "Bulk import of Users"
Right now we can only bulk import contacts.

We cannot bulk import users (80 multipliers for example)

This would be a very helpful feature

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2021-02-04 12:46] trip-nine opened #1185 "Admin permission to Bulk delete contacts"
Right now there is no way to bulk delete contacts. We mistakenly uploaded users as contacts, an ADMIN bulk delete function would be important to quickly resolve this issue.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise descript

[2021-02-04 13:28] corsacca commented on #1185
@trip-nine you can delete contacts in bulk from the WP ADMIN > Contacts Tab

[2021-02-04 13:30] corsacca commented on #1184
@trip-nine We'd suggest looking at worpdress market place for a plugin that lets you import users according to your needs.

[2021-02-04 18:36] mikeallbutt commented on #1183
Ok. As a user who hasn't used this before, it would have been helpful to have the help column with an explanation of what to do available.

This is the text I was think of adding.

![Screen Shot 2021-02-04 at 12 33 36 ](https://user-images.githubusercontent.com/43966676/106938981-453b7300-66e5-11eb-99bd-5c3548fc9bc1.png)

But I am having trouble placing the help box.

![Uploading Screen Shot 2021-

[2021-02-04 19:53] mikeallbutt commented on #1177
So what was suggested by @corsacca will work, but I think DT still would be aided by having the ability add this typo of field being able to be added by the system users.

[2021-02-04 23:49] trip-nine commented on #1185
hi @corsacca
it looks like there is no bulk delete contacts option, rather, only a bulk edit option.. unless I am missing something..

let me know!

![image](https://user-images.githubusercontent.com/37304634/106969811-97968700-6719-11eb-8c0a-a25379faadfd.png)

[2021-02-05 04:15] mikeallbutt opened #1189 "Group end date field date not being set when makeing a group `inactive`"
The issue is that when a groups status is changed from active to inactive, the `end date` field in the details tile is not getting/displaying the date that the group was closed (the field stays blank) but the info is getting recorded and displayed in the summary of the details tile.

Steps to reproduce:
1. change a groups status from active to inactive

https://user-images.githubusercontent.com/43

[2021-02-05 04:40] mikeallbutt opened #1190 "`Assigned to` dropdown doesn't display all the icons and data for a record"
**Describe the bug**
When the user name display name is a very long and without spaces (like an email address), then drop down list for the field `Assigned to` on a contact record in the status tile doesn't wrap the item correctly so that not all the info and icons are fully visible in the dropdown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Assigned To` field of a contact and cl

[2021-02-05 05:27] mikeallbutt commented on #1143
closed

[2021-02-05 05:27] #1143 closed

[2021-02-05 05:53] mikeallbutt opened #1191 "List page: Names get truncated making it hard to distinguish the difference"
**Describe the bug**
When the user can't see the full name of a record and the record name is similar to other records, then it is difficult to work out which record is which.

**Expected behavior**
Show more of the name so that there is enough text to work out what the differences are between the record items.

**Screenshots**
![Screen Shot 2021-02-04 at 23 44 36](https://user-images.githubuserco

[2021-02-05 07:00] mikeallbutt opened #1194 "Separate settings for Year / Month / Day / Time (to be used for date of birth or age of contact or group)"
I am wanting to have accurate records related to the age of people (and/or groups). At present there is only an age range to guess what the persons age it. The problem is that this range doesn't automatically adjust each year so the info will get out of date.

eg.
I hear that someone had a birthday recently (on a particular date) but if I don't know their birth year I can still enter some info.
I

[2021-02-05 07:11] mikeallbutt commented on #878
This issue still exists, but it would be very rare. If it is clicked on, it actually takes the logged in user to the front end. There is no longer a 404 generated it seems.

[2021-02-05 07:27] mikeallbutt opened #1195 "WP Admin pages need documentation"
When an admin is in the backend, there are many settings that are not necessarily obvious on what needs to be done or how to do it.

Having a help tile on each page, and/or a link to the appropriate documentation in the [user docs](https://disciple.tools/user-docs/) will aide the administrator of the site to more quickly make the correct adjustments.

Eg. If someone visits this page, there is no w

[2021-02-05 15:33] #1175 closed

[2021-02-05 16:04] #1169 closed

[2021-02-05 16:04] #1189 closed

[2021-02-06 17:10] micahmills commented on #1184
It has been awhile since I have used this plugin but it has worked for me in the past.

https://wordpress.org/plugins/users-customers-import-export-for-wp-woocommerce/

[2021-02-06 17:10] #1184 closed

[2021-02-06 17:21] micahmills commented on #1174
If you find more untranslated strings please add them to this issue so we can have them all in one place.

[2021-02-06 17:27] micahmills commented on #1172
Is this only the case for multipliers or are you seeing this with other user types as well?

[2021-02-06 17:32] micahmills commented on #1170
What should it display here?

[2021-02-06 20:32] micahmills commented on #1161
This could create some interesting UI problems by having fields for a new group mixed with new contact fields. Can you give us some more details on how you are envisioning this?

[2021-02-06 20:43] micahmills commented on #1144
This is similar to #970. This caused a problem in lists because without a name the contact wasn’t clickable, but that is now fixed.

I agree that in most cases a contact should have a name, but I could see a case where you don’t know a users name but know some other unique identifying characteristic (phone number of social media handle) in that case you might make a contact and not include their n

[2021-02-06 21:10] micahmills commented on #1132
I am not seeing this. Can you give us more info. What other plugin and extensions do you have? Is this showing for all users or just a particular user?

[2021-02-06 21:32] #1118 closed

[2021-02-06 21:46] micahmills commented on #1069
This is better documented in #1008 so I am going to close this issue in favor of that one.

[2021-02-06 21:46] #1069 closed

[2021-02-06 22:20] micahmills commented on #1060
@mikeallbutt is this the same as #1115

[2021-02-06 22:42] micahmills commented on #1057
@mikeallbutt Does the new private contact feature solve this problem

[2021-02-06 22:49] micahmills commented on #1045
While this isn’t part of the contact creation step, this can be done in the bulk edit section of the list view.

I am going to close this for now, but if I misunderstood we can reopen it.

[2021-02-06 22:49] #1045 closed

[2021-02-06 22:52] micahmills commented on #1042
So is the issue here that we need to fix the metrics page so it doesn’t error in this scenario or fix the DT fields so they can’t have this scenario selected?

[2021-02-06 23:06] micahmills commented on #996
@mikeallbutt I think this request is pretty similar to #569. Is there a reason to keep both issues open or can we combine them?

[2021-02-06 23:30] micahmills commented on #814
Since the SVG icons can be changed with css to do just about whatever you want, and we have another issue for adding custom icons. I think I can going to close this issue for now.

[2021-02-06 23:30] #814 closed

[2021-02-06 23:32] micahmills commented on #382
This issue is pretty old. Is it still relevant and are we getting complaints about the readability of the current design?

[2021-02-06 23:41] micahmills commented on #955
This is done

[2021-02-06 23:41] #955 closed

[2021-02-07 13:11] micahmills commented on #979
I think this is resolved in the V1 redesign, but can you confirm that.

[2021-02-07 13:12] micahmills commented on #978
This can be done with the Bulk Edit feature.

[2021-02-07 13:12] #978 closed

[2021-02-07 13:15] micahmills commented on #967
This is a would be nice feature, but it doesn't have a high demand. So I am going to close it for now. We might revisit it in the future.

[2021-02-07 13:15] #967 closed

[2021-02-07 13:49] micahmills commented on #747
Would this make more sense in the Gen Mapper plugin instead of the theme?

[2021-02-07 13:51] micahmills commented on #744
I am not clear on what this means? So it would notify all users when a new church or group forms or a contact is baptized?

[2021-02-07 18:09] micahmills commented on #1054
On second look this is the same as #402 since that one is older I am going to close this issue in favor of that one. But I agree this is a good feature that we should work on.

[2021-02-07 18:09] #1054 closed

[2021-02-07 18:12] micahmills commented on #1041
I like the idea of being able to link to other contacts or groups. I think the hashtag syntax would be to difficult for most people and would take a lot of documentation. I think the better option would be just to extend the @menitons to include contacts and users.

[2021-02-07 18:28] micahmills commented on #774
Can this be done with with a custom field and with the drag and drop tile sorter is pretty easy to add to the top of the list and even include eon the initial contact creation page. I put one in just to see how it works and it seems to do what you are looking for here.
![Screen Shot 2021-02-07 at 9 21 38 PM](https://user-images.githubusercontent.com/2531805/107155750-2fe77280-698b-11eb-87e2-be2d02

[2021-02-07 18:41] micahmills commented on #748
I like the idea of making tutorials. I would be interested to here if people find the overlay walkthrough thing helpful. I know personally I find them annoying and just click through without really reading them. Having some up to date video tutorials that are easily accessible inside the app might be more helpful.

This might be something that we toss into a Discussion and see if we can get more i

[2021-02-07 19:05] micahmills commented on #745
Could this be done now with a plugin since we have made the roles and permission system modular? We may still want it to be part of core, but it could be done through a plugin at present I think.

[2021-02-07 19:47] micahmills commented on #700
I think we could close this issue because the main request has been completed. These three things mentioned above would be good features to add, but they might be separate things and are tied to other features in the system.

My thought is we close this issue and then see if users feel the need for a task list, or custom task types created by admins, and possibly revisit the time selection thing w

[2021-02-07 19:52] micahmills commented on #1057
Actually on further looking I think this is the same as #655. I am closing in favor of that issue

[2021-02-07 19:59] #1057 closed

[2021-02-07 20:34] micahmills commented on #567
Having a separate tagging system could lead to some confusing UI. We would think about how to do this so that it was clear to the user that this was a personal tag not a global tag.

We have another feature request to favorite, star or pin contacts and groups (#402 ) would that offer a similar functionality without the UI confusion?

[2021-02-07 21:29] micahmills commented on #1191
So I looked into this a bit. This is directly related to how many columns you have showing in the list. If you have fewer columns it does show the whole name. There are ways to allow it to show multiple lines of text, but in my testing if the column is to narrow to show the full title it can also cause words to break funny so that a longer name starts on one line and ends on another.

So the short

[2021-02-07 21:29] #1191 closed

[2021-02-07 22:36] micahmills commented on #1139
How about "new south wales / Brasil / new Mexico" or new south wales - Brasil - new Mexico

[2021-02-07 23:52] micahmills commented on #1063
This comes from a difference in the way the Firefox has not implemented the clear button on their search input. There are possibilities of Javascript implementations of this, but it has some performance downsides for very little upside. I think we leave it as is and Firefox users just have to use the backspace to clear the input field.

[2021-02-08 00:07] micahmills commented on #1136
This problem is coming from the `adjustInputSize` function in `/dt-core/dependencies/typeahead/dist/jquery.typeahead.min.js`

[2021-02-08 01:53] micahmills commented on #1176
I believe this is because those contact/group names were saved before we fixed the input bug. I believe that if you were to go in and rename the group using the & it would show up properly in the lists.

Basically the data was saved wrong before because of the bug and now it is showing the malformed data.

[2021-02-08 08:24] #1167 closed

[2021-02-08 08:25] #1150 closed

[2021-02-08 08:30] #1180 closed

[2021-02-08 08:31] #1190 closed

[2021-02-08 08:33] #1051 closed

[2021-02-08 08:48] #382 closed

[2021-02-08 08:58] corsacca commented on #1185
@trip-nine
This should now be fixed in 1.0.3
![deleting_contacts](https://user-images.githubusercontent.com/24901539/107197291-fe56c180-69f3-11eb-871b-421d2e6b4d3a.gif)

[2021-02-08 08:58] #1185 closed

[2021-02-08 09:17] corsacca commented on #567
The goal is to un-lock our power users to sort and organize the contacts and they see fit. Since they are multipliers they don't have access to create their own fields, tags seem like an obvious first step.
I think #402 would be cool, but i bit too simplistic.

Our admins have also expressed the desire to "clean the tags list up", which wouldn't be good if multipliers are using tags personally.

[2021-02-08 09:24] corsacca commented on #568
To keep the UI and experience simple we'd like to keep notifications (and therefore @mentions) to come only from new comments.

[2021-02-08 09:24] #568 closed

[2021-02-08 09:26] corsacca commented on #744
We've more recently wanted to send a message to all our multipliers.

[2021-02-08 09:26] #744 closed

[2021-02-08 12:04] micahmills commented on #821
Added an icon to the follow button in PR #1201. That doesn't fully address this issue, but I think it could probably be closed for now. @corsacca what do you think?

[2021-02-08 12:04] #848 closed

[2021-02-08 15:01] corsacca commented on #817
The user will now get a message pointing them to the loop.
![image](https://user-images.githubusercontent.com/24901539/107237248-d03ea500-6a26-11eb-854d-a98528b8b63b.png)

[2021-02-08 15:01] #817 closed

[2021-02-08 16:29] mikeallbutt commented on #1170
I think it should display the name of the action and the word `reverse`... `"the quick action"`

All these actions have the same issue.
![quickbuttons](https://user-images.githubusercontent.com/43966676/107249030-8b037e80-69f8-11eb-8807-2c04d0c98fa3.png)

@corsacca will know because that's what it used to be previously.

[2021-02-08 16:45] mikeallbutt commented on #1194
This is how these fields might be offered.

<img width="446" alt="Screen Shot 2021-02-06 at 15 14 45" src="https://user-images.githubusercontent.com/43966676/107252170-b1c2b480-69fa-11eb-8f9f-56f87f8eda97.png">

[2021-02-08 16:58] corsacca commented on #1132
This was caused by plugins.
I've update all our plugins, so this problem will disappear when the site will run the new version of each plugin.

[2021-02-08 16:58] #1132 closed

[2021-02-08 17:00] mikeallbutt commented on #1180
@micahmills is it possible to have the setting displayed? The gender has been set but not displaying.

![settings-gender](https://user-images.githubusercontent.com/43966676/107253888-65787400-69fc-11eb-9e8f-8eaa86bce81e.png)

![settings-edit](https://user-images.githubusercontent.com/43966676/107254181-ae302d00-69fc-11eb-8ee9-774be65517b3.png)

I suggest the order on the view is the same as the ed

[2021-02-08 17:02] mikeallbutt commented on #1180
There is no option to not set Gender - but should have.

[2021-02-08 18:13] mikeallbutt commented on #872
@micahmills this has been closed by still the title tag is not helpful. It should have the name of the instance on the end - like what the wpadmin has.

![titletabs](https://user-images.githubusercontent.com/43966676/107263217-197efc80-6a07-11eb-9386-aa180d239bff.png)

[2021-02-09 11:09] #1179 closed

[2021-02-09 17:18] #618 closed

[2021-02-09 17:19] corsacca commented on #1158
This has been fixed.

[2021-02-09 17:19] #1158 closed

[2021-02-09 17:21] corsacca commented on #1002
This is implemented.

[2021-02-09 17:21] #1002 closed

[2021-02-09 17:22] corsacca commented on #986
This is implemented with v1.

[2021-02-09 17:22] #986 closed

[2021-02-10 02:13] mikeallbutt commented on #395
@corsacca this functionality has been removed in version 1 of the theme. But it was very helpful, so can we please have it reinstated.

[2021-02-10 02:32] mikeallbutt commented on #1172
When signed in as an admin, the links work - so I guess the issue it only for multipliers. But I did test all types of roles and the role of strategist also has an issue that lists the first item of `Personal` but it doesn't function (has no items).

[2021-02-10 02:40] mikeallbutt opened #1205 "Translate tags"
We have a DT instance which is used by users of more than one language. So that we can assign the same tags, it will be useful to be able to translate the tags so that we aren't duplicating the items.

[2021-02-10 03:05] mikeallbutt commented on #1161
This is how the group field looks on a record page. The same add group box on the right side could be added to the group field on the new record page.
![Screen Shot 2021-02-09 at 21 00 13](https://user-images.githubusercontent.com/43966676/107458718-3fe18c80-6b1a-11eb-966e-87af43ed1e8f.png)

This then opens the following modal.

![Screen Shot 2021-02-09 at 21 00 41](https://user-images.githubuserc

[2021-02-10 03:29] mikeallbutt commented on #1060
@micahmills this is not the same. The other one is referring to the info being display on the group, while this one is refers to the info being display on the contacts record.

[2021-02-10 03:31] mikeallbutt commented on #1042
I think @corsacca has implemented a fix to stop loops - or at least there is now info to fix the loop.

[2021-02-10 03:33] mikeallbutt commented on #996
@micahmills yes this too is related to who is in a group, but what each issue is describing is IMO different.

[2021-02-10 04:04] mikeallbutt commented on #1041
Ok then lets expand the list of what it shows. The list could offer the icons on the left of the names to indicate whether they are users or just regular contacts. Being able to link/mention groups would be good too.

[2021-02-10 04:09] mikeallbutt commented on #774
Putting in the general note field by default will help non digital strategy users. Doing as you did @micahmills does work, but like I had mentioned in another issue, have a field type like what is used for comments, will allow for more text and not just one line.

[2021-02-10 04:13] mikeallbutt commented on #1139
I suggest instead they get displayed as "chips" or stones in the milestones (but much slimmer).

[2021-02-10 04:16] mikeallbutt commented on #1176
I have actually changed them all to fix them because they were formatted wrong previously, but still somewhere they are getting changed back. It may be the dt app so I am investigating that possability.

[2021-02-10 09:42] corsacca commented on #1042
:+1: There will be a message and a link to fix the issue now instead of epic crashing.

[2021-02-10 09:42] #1042 closed

[2021-02-10 09:45] corsacca commented on #1205
Tags can not be translated.
They same functionality can be accomplished using the multi select field.

[2021-02-10 09:45] #1205 closed

[2021-02-10 09:53] corsacca commented on #1172
Those links don't show up for me as a multipliers. Can you retest @mikeallbutt ?

[2021-02-10 15:10] mikeallbutt commented on #1205
OK. But you have to set up all the fields in admin area. A normal user cannot create translatable fields.

[2021-02-10 15:44] mikeallbutt commented on #1041
If users learn how to use the @mention then it would not be too hard to @@mention to pull up a list of contacts without the users.
And using # tag for groups would be easy for users IMO.

[2021-02-10 18:31] corsacca opened #1209 "Social links clickable in record details."
@corsacca this functionality has been removed in version 1 of the theme. But it was very helpful, so can we please have it reinstated.

_Originally posted by @mikeallbutt in https://github.com/DiscipleTools/disciple-tools-theme/issues/395#issuecomment-776386700_

[2021-02-10 18:32] corsacca commented on #395
Oh. Great catch.Opened i new issue.

[2021-02-11 14:44] micahmills opened #1211 "CMD/Ctrl + Click Broken"
**Describe the bug**
As i look at the contact list or the group list, and want to open new tab in the browser with CMD/Ctrl + Click, it doesn’t work (the contact / group opens in the current tab). We have to use the right click. I tested this with Themes with version prior to v1.0, and it was all ok (the Cmd + Click was perfectly working). Right Clicking and opening in a new tab does work.

**To R

[2021-02-11 14:53] cairocoder01 commented on #1211
Looks like this mainly comes from the code that handles the click on the `tr` element, since it is not naturally recognized by the browser as being clickable:

[code]

This always sets `window.location`, but you can detect if the user actually clicked the `<a>` inside the row and let the browser handle that naturally:

[code]

However, if the user CMD+clicks elsewhere on the row, it is harder to r

[2021-02-16 15:33] corsacca commented on #1211
Instead of listening for clicks on the whole row (tr) would could listen for clicks on each td excluding the name cell td.

[2021-02-17 14:50] micahmills commented on #1149
I think this was a problem because we had an old version of the Dashboard that wasn't updating.

[2021-02-17 14:50] #1149 closed

[2021-02-17 16:57] corsacca commented on #1149
👍 The dashboard did have links to certain filters on the contacts list. V1 broke that and we removed the links,

[2021-02-20 12:05] #1211 closed

[2021-02-20 12:08] #1066 closed

[2021-02-21 22:12] micahmills commented on #1176
Hey @mikeallbutt where you able to sort out if this was coming from the mobile app or from the theme?

[2021-02-22 20:43] mikeallbutt commented on #1176
@micahmills it is from the app. I have made various adjustments in the app and it automatically changes the names of the contacts.

[2021-02-23 07:51] corsacca commented on #1176
@mikeallbutt Oh. That is good to know!
When changing the name on the app does the `&amp;` show anywhere on the app, or just in the typeaheads on the theme?

[2021-02-23 12:23] mikeallbutt commented on #1176
After having another quick look in the app, I can't see anywhere where the HTML characters are appearing incorrectly. The app is correctly converting all & symbols.

[2021-02-23 20:25] micahmills opened #1220 "Can't Remove Email from New Records Page in admin"
On the Settings(DT) -> New Record Page In Contact -> Access Record The email checkbox is checked, but if you uncheck it and hit save it continues to be checked.

[2021-02-24 09:17] corsacca opened #1221 "Request: User Management list: show location names for users."
Show the location names in the user management list instead of a checkmark.
To make it a one-stop place to go in terms of finding the potential Multiplier to match with a Seeker.

![image](https://user-images.githubusercontent.com/24901539/108977058-7544b900-7688-11eb-8ded-dc99f5bf3bec.png)

[2021-02-24 09:17] #1221 closed

[2021-02-24 11:28] micahmills commented on #1156
This is available now with the advanced search

[2021-02-24 11:28] #1156 closed

[2021-02-24 11:29] micahmills commented on #1220
I resolved this by checking Email in the default fields box, saving the settings, then unchecking the option and saving again.

[2021-02-24 11:29] #1220 closed

[2021-02-24 12:49] micahmills commented on #688
The problem appears to be that Jetpack uses underscore.js which uses the `_` variable like lodash does. So when you try to call the lodash functions they are being mapped to underscore and you are getting errors because their API is different. So We need to find a way to for `_` to be lodash and not be overwritten by underscore.

[2021-02-24 14:02] micahmills commented on #688
According to https://make.wordpress.org/core/2018/12/06/javascript-packages-and-interoperability-in-5-0-and-beyond/

With that in mind we should update our JS code to use `window.lodash` instead of the `_` global or move to underscore.

[2021-03-03 16:53] #1157 closed

[2021-03-08 12:18] mikeallbutt commented on #1144
If the name field is empty, the record cannot be saved in the app.

[2021-03-08 13:16] micahmills commented on #1144
Ok then we should probably make the mobile app functionality match with the web version's. Can you make an issue on the mobile repo for this?

[2021-03-10 11:29] #688 closed

[2021-03-10 11:47] corsacca commented on #1126
![image](https://user-images.githubusercontent.com/24901539/110624645-c67f9d00-819e-11eb-8521-5ccc0d31bc1f.png)
This is done :)

[2021-03-10 11:47] #1126 closed

[2021-03-10 11:56] corsacca commented on #679
Revisit with examples if needed.

[2021-03-10 12:07] corsacca commented on #627
This no longer seem to be an issue.

[2021-03-11 11:36] corsacca commented on #1209
Implemented

[2021-03-11 11:36] #1209 closed

[2021-03-15 06:53] mikeallbutt opened #1234 "Details tile enhancements - People Groups field icon, clearer separators between words, textarea for address field"
1. The `people groups` field in the `details tile` for a group does not have an icon associated with it (but it used to in a previous version of the theme).

2. In the details info area: The text character to separate each people group should be like what is used for the locations field (a / symbol) and not the comma symbol (as this might be used for other purposes).

3. The `address field` (in th

[2021-03-15 08:51] #1173 closed

[2021-03-17 08:43] #1176 closed

[2021-03-17 09:36] micahmills commented on #1172
@mikeallbutt were you able to retest this?

[2021-03-17 12:35] #979 closed

[2021-03-17 12:38] micahmills commented on #774
I agree we need a text area field type to make this better. We have an issue #1049 that is a high priority for that very thing. I am going to close this issue with the understanding that when #1049 is complete this will be completely resolved by using custom fields.

[2021-03-17 12:38] #774 closed

[2021-03-17 12:38] #1170 closed

[2021-03-17 12:39] micahmills commented on #747
I think this is probably better suited for the Gen Mapper plugin so I am going to close this for now.

[2021-03-17 12:39] #747 closed

[2021-03-17 12:46] micahmills commented on #569
See #996 for other things to include with a meeting tracker implementation.

[2021-03-17 12:47] micahmills commented on #996
I added a comment in #569 to refer to this issue. For the sake of cleaning up the issues list I am going to close this, but it will still be visible from #569 when we build the meeting tracker.

[2021-03-17 12:47] #996 closed

[2021-03-17 12:54] micahmills commented on #1234
![Screen Shot 2021-03-17 at 3 51 41 PM](https://user-images.githubusercontent.com/2531805/111470316-c7817300-8738-11eb-8ab4-d206233b0b50.png)

I am seeing the People Groups icon. If you aren't seeing it it might be a bug related to the specific browser so let us know a version you are using.

I think the multi-line address field will need a text area instead of a text input to show line breaks. We

[2021-03-17 12:58] corsacca commented on #1133
In testing i could not replicate this behavior.

[2021-03-17 12:58] #1133 closed

[2021-03-17 13:49] prykon commented on #951
What page(s) does this happen in?

[2021-03-17 13:59] prykon commented on #1050
I think this would be covered by the Quick Comments plugin.

[2021-03-17 14:34] corsacca commented on #951
Contacts list page, Groups list page, etc

[2021-03-19 14:40] NathTech commented on #1174
Hi, I'm looking for a simple PR to get started with understanding the codebase and getting it set up locally etc. would it be ok if I took this one on? I'll hunt for other non-translated strings as well.

[2021-03-19 14:49] micahmills commented on #1174
Yes please! Let us know if you have any questions or need any help.

[2021-03-19 14:54] corsacca commented on #1174
Hey, I've actually started on this on and forgot to close this issue.
https://github.com/DiscipleTools/disciple-tools-theme/commit/733d40679609e9cfa546c6d32f6706e42dd2ffa1

Push notifications is added from the mobile app plugin, so will still not be translated.

[2021-03-19 14:54] corsacca commented on #1174
@NathTech how does this one look? https://github.com/DiscipleTools/disciple-tools-theme/issues/951

[2021-03-22 08:07] corsacca commented on #807
This modal is present on the contact record page page.
Admin Actions > "Make a user from this contact"

[2021-03-22 11:24] squigglybob commented on #1135
Hi, I'm happy to take this one :)

[2021-03-22 13:44] corsacca commented on #1135
Awesome :)

[2021-03-22 14:27] corsacca commented on #919
These buttons have been removed in v1. They are on the todo list for the dashboard plugin.

[2021-03-22 14:45] corsacca commented on #1022
This issue is fixed.

[2021-03-22 14:45] #1022 closed

[2021-03-22 14:46] #1013 closed

[2021-03-22 14:48] #586 closed

[2021-03-22 14:51] corsacca commented on #1065
This issue is a duplicate of #726

[2021-03-22 14:51] #1065 closed

[2021-03-22 14:57] #1234 closed

[2021-03-22 14:59] corsacca commented on #1172
This was likely a passing issue. We will close for now.

[2021-03-22 14:59] #1172 closed

[2021-03-22 15:04] corsacca commented on #1015
All fields are now available in the create form.

[2021-03-22 15:04] #1015 closed

[2021-03-22 15:40] cwuensche commented on #1059
I'm working on and almost finished this issue. This is where I'm at so far.
<img width="604" alt="Screen Shot 2021-03-22 at 8 39 06 AM" src="https://user-images.githubusercontent.com/6157604/112016653-243eae00-8aea-11eb-8236-5a6a48113f41.png">

What do you think about all the user roles available in this list @corsacca? I removed administrator and dt_admin from the list already.

[2021-03-22 15:44] squigglybob commented on #951
I don't mind taking this one too... unless you are @prykon?

[2021-03-22 16:21] corsacca commented on #951
Go ahead with this one @squigglybob

[2021-03-22 16:42] corsacca commented on #1059
Looks good.

[2021-03-22 17:44] #951 closed

[2021-03-22 17:46] #1135 closed

[2021-03-22 18:09] prykon commented on #1050
Working on this...

[2021-03-22 18:10] prykon commented on #1050
Working on this...

[2021-03-23 04:32] prykon opened #1241 "Inconsistent array declaration for quick_buttons"
**Description**
All quick_button arrays have the same indexes except for one that is missing the 'description' index. This triggers an error when looping each quick_button array and attempting to return the value for that index.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/dt-contacts/dmm-module.php'
2. Scroll down to line 198
4. Line 199 is missing `'description' => ''`

**Expect

[2021-03-23 08:30] corsacca commented on #1241
:+1:
Can we also fix the spot that is throwing the error with an isset check?

[2021-03-23 11:19] prykon commented on #1241
Already did ;)

[2021-03-23 11:34] squigglybob commented on #300
I'll grab this one :)

[2021-03-23 15:45] cwuensche commented on #1059
@corsacca PR created and passed Travis CI.

[2021-03-23 15:54] cwuensche commented on #726
I'm looking for all files this will affect.
<img width="188" alt="Screen Shot 2021-03-23 at 8 51 27 AM" src="https://user-images.githubusercontent.com/6157604/112176402-4ea96d80-8bb5-11eb-8706-d47dff81aa20.png">
<img width="1537" alt="Screen Shot 2021-03-23 at 8 21 35 AM" src="https://user-images.githubusercontent.com/6157604/112176417-51a45e00-8bb5-11eb-9503-d678a81b343b.png">

[2021-03-23 16:04] ahillbilly commented on #708
This is navigational improvement.  Needs to work from default views, but also filtered (temporary) lists.

[2021-03-24 11:25] #1241 closed

[2021-03-24 12:19] micahmills commented on #807
This issue is fixed by PR #1238.

One caveat is that this field is filled at page load, so if you load the page, edit the Email field, then select "make a user from this contact" the field will have the old data.

@corsacca do you think we should close this issue or try to fix it so that the email field dynamically updates if the user updates?

[2021-03-24 12:29] micahmills commented on #1144
We currently put up a Tool tip on the contacts/new page, but once the user is created you can click on their name in the top bar and edit it. This allows you to delete the name entirely and we need to show the same UI tooltip.

as @corsacca mentioned we need to block this in the API as well so things aren't created without a name from a plugin.

[2021-03-24 12:31] #1119 closed

[2021-03-24 12:32] micahmills commented on #1067
This is working for now, we should keep it in mind for the future.

For now I am going to close this.

[2021-03-24 12:32] #1067 closed

[2021-03-24 13:12] micahmills commented on #569
This issue is a bit more complex and @corsacca and others have started some work on this. If you want to jump in and tackle this one @corsacca can get you the code he has written and you can work off of that.

[2021-03-24 15:48] squigglybob commented on #601
Hi, i'll take this one :O)

[2021-03-24 18:04] corsacca commented on #569
Here is some starter code form the meetings tracker:
https://github.com/DiscipleTools/disciple-tools-meetings

[2021-03-24 18:22] corsacca commented on #807
Good question @micahmills! I think it will be good as it is.

[2021-03-24 18:22] #807 closed

[2021-03-24 18:22] #1059 closed

[2021-03-24 18:38] #1113 closed

[2021-03-24 18:47] trip-nine opened #1246 "map module update bug, no delete button"
DT mapping module..

-No delete function..

-When you change ‘Name’ and ‘Update’ it does not update to the new name

-unsure if ‘Reset’ function works..

![disciple tools map module issues](https://user-images.githubusercontent.com/37304634/112366989-c65bc300-8caf-11eb-96c0-84378192dcdd.png)

[2021-03-25 11:26] squigglybob commented on #601
Would something like this look ok?
![image](https://user-images.githubusercontent.com/9816214/112465649-dd0c2380-8d5c-11eb-847a-275a51625e80.png)

[2021-03-25 11:46] corsacca commented on #601
Thanks for the screenshot!
Yes! let's go with that.

[2021-03-25 12:47] squigglybob commented on #601
Hopefully that's good to go... @corsacca

[2021-03-25 13:36] #300 closed

[2021-03-25 14:57] squigglybob commented on #1145
I can take this one @corsacca

[2021-03-26 01:55] mikeallbutt opened #1250 "Group filter to show recently viewed groups"
Groups filters: I see that there is not a default view recent filter for groups - like the contacts has.

Having it will make it easy and fast to find the most recently updated groups.

[2021-03-26 03:43] mikeallbutt opened #1251 "Web mobile view: align 'add unavailable dates' button"
On the settings page for a user in the area for setting unavailable dates, the button is set to high and should be in line with the 2 dates fields to the left.

![Screenshot_20210325-213548_Chrome.png](https://user-images.githubusercontent.com/43966676/112574001-048ddb00-8db3-11eb-8ccf-65979f711035.png)

This issue is seen using Chrome browser on a modern Android phone.

[2021-03-26 03:58] mikeallbutt opened #1252 "Date using instance language and not user language"
In the area where a contact record displays when the contact was created, the date information is displayed in the language of the instance (like Spanish) and not of the language preferred by the user (English)

![Screenshot_20210325-215228_Chrome.png](https://user-images.githubusercontent.com/43966676/112575023-22f4d600-8db5-11eb-851e-c938b4f8c6c3.png)

[2021-03-26 04:33] mikeallbutt opened #1253 "Hidden faith milestone item showing in contact list rows"
If a faith milestone was created but no longer being used, then the item is still appearing in the list of a contact record it was assigned to.

For example milestone_33s is hidden in the wp admin area and does not appear on the contact record area.

![Screenshot_20210325-223112_Chrome.png](https://user-images.githubusercontent.com/43966676/112577398-e1b2f500-8db9-11eb-8f81-4080abea501b.png)

[2021-03-26 08:14] #601 closed

[2021-03-26 09:50] squigglybob commented on #446
Would something like [adding vue components to WP](https://css-tricks.com/how-to-build-vue-components-in-a-wordpress-theme/) be helpful? In summary, it would enable inline vue usage without having to be run through a compiler as WP template part components.

It would give the possibility of starting the process of creating some vue components and being able to manage front end state within those c

[2021-03-26 10:40] squigglybob commented on #537
How would users un-react to a comment? If clicking on the reaction shows the users who have reacted, should picking the same reaction again, unreact it?  In github, clicking the reaction unreacts it, and hovering shows the users... :O/

[2021-03-26 10:40] squigglybob commented on #537
also where best to put the reaction dropdown button? underneath the comment? or to the right of the comment?

[2021-03-26 11:39] grantholle commented on #446
I think that _may_ be helpful, but I believe just going ahead and starting a branch to implement the whole 🐷 would ultimately save more time. I agree that having to have a build step for frontend assets does add complexity.

Another thought would be to have an entirely separate project for the frontend. Can't tell if that version of complexity is better or worse.

[2021-03-26 15:09] corsacca commented on #537
Good questions @squigglybob ,
Here is a guess, tho i'm up for it being improved:
- click on a reaction to "un-react"
- show the reaction under the comment
- I don't know where the reaction dropdown best fits. Actions that appear when you hover of the text make sense, but won't work on mobile.

[2021-03-26 15:20] squigglybob commented on #537
Yup, that's what I'm thinking, I can either put the dropdown button underneath
![image](https://user-images.githubusercontent.com/9816214/112653487-60ee0a80-8e46-11eb-91ef-3536ebd1ea93.png)
or to the left
![image](https://user-images.githubusercontent.com/9816214/112653826-b6c2b280-8e46-11eb-82ff-f6f52947ce5a.png)

[2021-03-28 07:25] mikeallbutt opened #1257 "Merge duplicate button should not be clickable until one or more items are selected"
**Describe the bug**
The `Merge` button is clickable and gives a 404 error if the user doesn't select at least one item to be merged.

**To Reproduce**
1. Go to a contact record that has a duplicate.
2. click merge (bottom right corner of the main tile) without selecting anything of either record that needs to be merged.
3. you will be taken to a 404 page with a url like `/contacts/undefined`

**E

[2021-03-28 08:28] mikeallbutt commented on #1060
It would also be good to have a filter available that shows who of the contacts are leaders of groups.

[2021-03-28 08:38] mikeallbutt opened #1258 "`This contact needs an update` stays visible even after an update is made"
When an update is made (by writing a comment) to a contact record (in this case it was an access type record) the red coloured tile stayed even though the `requieres no update` activity was logged.

**To Reproduce**
1. Find a record (that your user is assigned to) that needs an update
2. write an update in the comment box
3. note that the tile of `This contact needs an update.` stays

**Expected b

[2021-03-28 08:53] mikeallbutt commented on #810
Yes it is possible to create different group statuses (like `Paused`) but there is no way to describe why the status has been set. This would be helpful - like what reasons where given previously in this thread.

[2021-03-28 08:59] mikeallbutt commented on #846
Another idea would be to have a contact filter that shows who are assigned as `Group Coach / Church Planter`.

@ahillbilly what do you think?

[2021-03-28 23:36] mikeallbutt opened #1259 "WP admin: `+ Create connections` dropdown for a people group doesn't load"
**Describe the bug**
The `Create connections` dropdown for a people group doesn't offer the list of possibilities to connect the people group with.

**To Reproduce**
1. Go to the people group you want to edit in the WP admin area (/wp-admin/edit.php?post_type=peoplegroups)
2. In the tiles on the right side, click the `+ create connections`
3. begin tying in the field that appears
4. nothing loads

[2021-03-29 03:09] mikeallbutt opened #1260 "Duplicate user item in add member modal for a group"
**Describe the bug**
The signed in user has a duplicate listing in the dropdown list when adding a member to a group.

**To Reproduce**
1. Go to a group that you want to add the signed user to be a member of
2. Click the `Select` tab in the Members list tile to open the modal to add a member.
3. Type in the name of your user (that you are signed in with) and you should see your item listed twice.

[2021-03-29 03:17] mikeallbutt opened #1261 "Group icon is a single individual and not a group"
In the header area next to the name of the group record, the icon that is displayed is the normal single person icon like what is shown for a contact record. This icon should be switched to represent a group of people.

<img width="231" alt="Screen Shot 2021-03-28 at 21 12 45" src="https://user-images.githubusercontent.com/43966676/112782638-b83cd800-900a-11eb-96a0-7cf293c88cff.png">

[2021-03-29 03:58] mikeallbutt opened #1262 "Share settings modal to use icons and record numbers in dropdown list"
Like what is already available for many dropdown lists, it would be helpful to have the share field use the user icons and record numbers next to each menu item as this will aide the user in selecting the correct user to share the record with.

This is what the share fields currently look like:
<img width="605" alt="Screen Shot 2021-03-28 at 21 49 35" src="https://user-images.githubusercontent.com

[2021-03-29 04:19] mikeallbutt opened #1263 "WP Admin: Hidden fields display word `Hidden` on tiles"
When a field is set to be hidden, the field is still visible on the tile and displays the word `Hidden` after the name of the field - and this is confusing somewhat.

It might be helpful to make the word `Hidden` look different to indicate to the system user that this field is different.

eg. This is what the hidden `Locations` field displays in the details tile.

<img width="1174" alt="Screen Sho

[2021-03-29 04:22] mikeallbutt commented on #1263
On another note related to the attached image, it is not obvious what types of tiles are being worked on.
Where it says `Sort Tiles and Fields` at the header area of the tile, it could be added on to the end what type of tiles are being adjusted/displayed. ie. `Sort Tiles and Fields for Contacts`

[2021-03-29 14:14] cwuensche commented on #708
I'm working on this.

[2021-03-29 15:00] cwuensche commented on #708
Here's an example flow I'm thinking of implementing:
1) User loads Contacts page.
2) User filters list.
3) When a filter is set, a temporary session storage item is saved which includes the filtered list.
4) When contact is loaded, if the session is set with the filtered list it will give you the option to go next/prev/first/last to the contacts depending where in the list you are at.

[2021-03-29 16:44] #1145 closed

[2021-03-29 16:58] corsacca commented on #708
Thanks @cwuensche !
2-3. I'd suggest setting this cookie? whenever the list is returned from the api (so on default loads too).
3. We use cookies in the list already, so it might make sense to start there.
3. We can just save the ids of the records
4. Let's start with just next/prev

[2021-03-29 17:03] prykon commented on #1050
I submitted a pull request for this. It's under review.

[2021-03-29 17:04] cwuensche commented on #708
I stepped away from the computer for a couple of hours. Ironically when I was digging into the code to see how it's currently working, I saw this was already sort of being done this way, so that's excellent!

[2021-03-29 17:08] corsacca commented on #1049
Implemented by #1245

[2021-03-29 17:08] #1049 closed

[2021-03-30 08:49] corsacca commented on #537
I think underneath next to edit and delete (when they are present) will work the best.
An icon with a plus on it like on slack would be nice.
I didn't see a good one on https://thenounproject.com/ where a lot of our icons have come from

[2021-03-30 13:30] prykon commented on #1246
Reset function works, it's just not updating due to the update bug. I'll keep looking into it.

[2021-03-30 13:52] corsacca commented on #1246
Thanks @prykon !

[2021-03-30 14:47] cwuensche commented on #708
Just an update here, I have successfully saved a list of posts from the Contacts page and I am working on the Next/prev links on the contacts page now.

[2021-03-30 15:56] cwuensche commented on #708
I have something working now for the Contacts page and I will transfer this same functionality to groups.

[2021-03-30 16:34] cwuensche commented on #708
I added navigation now to both the Groups and Contacts pages. If there are records existing, the navigation will show up giving you the option to go through the previously set filtered lists.

[2021-03-30 17:10] corsacca commented on #708
![image](https://user-images.githubusercontent.com/24901539/113028451-30c6a480-9183-11eb-8708-3f045af7fc4f.png)
How about this for the button locations?

[2021-03-30 17:21] corsacca commented on #849
Similar to #1262.

[2021-03-30 17:21] #849 closed

[2021-03-30 17:25] corsacca commented on #557
This no longer seems important.

[2021-03-30 17:25] #557 closed

[2021-03-30 17:38] corsacca opened #1267 "Show my information in typeaheads fields"
The current typeahead behavior is to on show the name of the connected item:
![image](https://user-images.githubusercontent.com/24901539/113030998-1510cd80-9186-11eb-945d-4a7f4194d95e.png)

A possibility is to include more information next to the name. This could be done with icons, colored squares, the box color etc, to show information about the connected item.

Example:
![image](https://user-im

[2021-03-30 17:38] corsacca commented on #997
This issue is further explored here: https://github.com/DiscipleTools/disciple-tools-theme/issues/1267

[2021-03-30 17:38] #997 closed

[2021-03-30 17:41] corsacca commented on #1267
Duplicate of https://github.com/DiscipleTools/disciple-tools-theme/issues/1008

[2021-03-30 17:41] #1267 closed

[2021-03-30 17:44] corsacca commented on #1008
Option:
![image](https://user-images.githubusercontent.com/24901539/113032651-fd3a4900-9187-11eb-9319-fa523468a0e8.png)

[2021-03-30 18:02] corsacca opened #1268 "Rest Api `permission_callback` Parameter"
As of Wordpress 5.5 all rest endpoints need a permission_callback
https://make.wordpress.org/core/2020/07/22/rest-api-changes-in-wordpress-5-5/

They are throwing an error that looks like this:
[code]
Todo: go through each endpoint and add the permission_callback field, making sure we respect the existing permission checking.

[2021-03-30 18:28] corsacca opened #1269 "Field Type: Tags"
Make tags it's own field type to go along side multi_select, key_select, etc
It currently rides off of the multi_select field type.
the multi_select is design to be a finite list of items.
The tags field is meant to have many options and lets the user add options.

This will let a record have multiple different tag fields.

Bonus points for also implementing this issue at the same time: #567
Norma

[2021-03-30 18:38] corsacca opened #1270 "Upgrade fields to allow for private fields."
Create any field (text, textarea, key_select, etc) with a "private" flag
This would allow each user to store different date in the same field.

Example: a private notes textarea.
[code]
Each user would be able to write their own notes in the field.

The private flag would have the API store the date in `dt_post_user_meta` instead of `postmeta` and would only be retrieved when that user is making t

[2021-03-30 18:38] corsacca commented on #655
See issue https://github.com/DiscipleTools/disciple-tools-theme/issues/1270 on creating private fields.

[2021-04-05 10:19] micahmills commented on #1268
We do permission checking in all of our callbacks now so can we just add the `'permission_callback' => '__return_true',` as though they are public endpoints, or should we move that permission checking into the permission_callback?

[2021-04-05 12:20] cairocoder01 opened #1272 "Site Link transferred contacts are not available to assigned user"
**Describe the bug**
Given 2 sites that have been connected by 2-way site link where the base user of the receiving site has the role D.T Admin (NOT Administrator), contacts transferred that are assigned to the base user give a permission warning when that user attempts to open them (via direct URL link) and are not visible in their list of all contacts.

**To Reproduce**
Steps to reproduce the be

[2021-04-05 12:37] cairocoder01 commented on #1272
Looking at the source for `DT_Posts::can_view` (as used in single-template.php for the above example), it seems to check the `view_any_contacts` permission, but it seems like only `access_contacts` is given to the dt_admin role. It seems like either `view_any_contacts` permission is missing or there is a mix-up of those two permissions. I'm not clear on which should be used or what the exact diffe

[2021-04-05 12:46] cairocoder01 commented on #1272
Or this could be an issue on the contacts transfer endpoint. The endpoint to receive contacts in `dt-contacts/contacts-transfer.php` uses `wp_insert_post` to create the contact, whereas the API endpoint for creating new posts in `dt-posts/dt-posts-endpoints.php` uses `DT_Posts::create_post`, which automatically shares the new post with the user who created it. I think that step of sharing the cont

[2021-04-05 17:00] corsacca commented on #1272
No user role currently has the `view_any_contacts` permission.
The D.T admin should have the `dt_all_access_contacts` cap which would give them permission to see the contact if it is an access contact. (is `access` the contact type @cairocoder01?)
https://developers.disciple.tools/theme-core/capabilities#post-types

I agree that we should make sure the transferred contact is shared properly with t

[2021-04-05 17:09] corsacca commented on #1268
i think `'permission_callback' => '__return_true'` is ok as long as it does not open anything up unexpected.

[2021-04-05 17:09] corsacca commented on #1261
I would like that icon to be configurable by any post_type.

[2021-04-05 17:11] corsacca commented on #1261
Maybe the details bar should just offer a hook with a default. Contacts, groups, trainings, etc can hook in their own icon.

[2021-04-05 17:27] corsacca opened #1274 "Display more sublocation information on default location typeahead"
![image](https://user-images.githubusercontent.com/24901539/113603816-51d43d00-963c-11eb-86e3-618ee08ce76d.png)

Here we are seeing multiple results for 12e arrondissement. These correnspond to different places on the 3rd, 4th or 5th admin level, but this information is not currently displayed.

[2021-04-05 17:33] cwuensche commented on #882
The commit adds a "Deactivate" button which deactivates the plugin from the extensions page.

[2021-04-05 18:25] micahmills commented on #1261
We do have a hook for that https://github.com/DiscipleTools/disciple-tools-theme/blob/82d4866c9ca210ca38a780556b9d016e8a4aa354/dt-assets/functions/details-bar.php#L70 the facebook plugin is using it.

[2021-04-06 07:34] corsacca commented on #1261
Oh :), i forgot about that one.

[2021-04-06 08:15] corsacca commented on #1274
Closed by https://github.com/DiscipleTools/disciple-tools-theme/commit/d574843099c2ecb06e87440c484b7120b5d86017

[2021-04-06 08:15] #1274 closed

[2021-04-06 09:14] cairocoder01 commented on #1272
Good to know. I see in the code that that cap should be applied and the filter should be recognizing that. I'll do some debugging since the DT admin definitely is not seeing all access contacts.

[2021-04-06 09:29] cairocoder01 commented on #1272
I think I just needed to update the theme. I was on 1.0.x something, but after upgrading to 1.2.0, it seems to work as expected.

[2021-04-06 09:29] #1272 closed

[2021-04-06 09:35] corsacca commented on #1258
@mikeallbutt are you an administrator or dispatcher making the update or are you a multiplier?

[2021-04-06 09:36] corsacca commented on #378
The felt need for this request is very low.

[2021-04-06 09:36] #378 closed

[2021-04-06 09:39] corsacca commented on #496
The felt need for this feature is low.

[2021-04-06 09:39] #496 closed

[2021-04-06 09:50] corsacca commented on #669
Icon opens the search modal.
The user types anything in the search modal
This could search the post names, post meta and comments for results
Have options to narrow the search on the side (exclude comments, only search contacts etc)
List out the results including name, post type and matched field.
Make it look awesome! :)

We'll need to build out a separate endpoint for this global search since th

[2021-04-06 09:53] #726 closed

[2021-04-06 09:56] micahmills commented on #669
The current function that creates the SQL and searches the DB is at https://github.com/micahmills/disciple-tools-theme/blob/fde30ca24e8aab52595278a5807ead46673f0610/dt-posts/posts.php#L911

I think it would be possible to modify that to allow for searching in all posts if a post type is not specified. We could then keep backwards compatibility with the current search implementations and API, and a

[2021-04-06 10:02] corsacca commented on #669
Using the current `search_viewable_post` would save us from having to re-implement the permission checking structure.
Permissions are based on the post_type tho, so it would be hard to remove the post_type param. Going this route would probably mean calling `search_viewable_post` separately for each post type.

[2021-04-06 10:32] kodinkat commented on #1137
Happy to pick up issue, capturing following requirement goals:

- Know when/why a form is not working
- Know why someone can't sign in on the mobile app
- A user is having trouble doing something in the theme or in the app. Having an admin visible error log would help a lot in debugging.
- Maybe catch errors caused by a version conflict between a server config, plugins and the theme that we didn't

[2021-04-06 12:08] mikeallbutt commented on #1258
@corsacca the role I was using when this happened was that of an administrator.

[2021-04-06 14:02] cwuensche commented on #708
I didn't see this image. It's certainly an idea.

[2021-04-07 09:53] #882 closed

[2021-04-07 09:55] #1261 closed

[2021-04-07 10:28] ahillbilly commented on #872
@mikeallbutt can you confirm this is still an issue?

My recent investigation showed things working nearly like your described desire.  The only thing I saw not consistent were these two:
{contact name} - {Contacts} - {DT instance name}
{group name} - {Groups} - {DT instance name}

Currently it is showing:
{contact name} - {DT instance name}  - without the section "Contacts"
{group name} - {DT ins

[2021-04-07 10:58] ahillbilly commented on #429
Currently,
if Contact A is connected to Contact B in Contact B's "Connections to People" field, then Contact B is also automatically listed as a connection in Contact A's "Connections to People" field.

if Group X is connected to Contact A in Contact A's "Groups" field, then Contact A is also automatically listed as a member in Group X's "Member List".

This issue proposal is that when Contact A i

[2021-04-08 16:08] #1250 closed

[2021-04-09 12:54] #1050 closed

[2021-04-09 14:16] #708 closed

[2021-04-12 08:29] kodinkat commented on #477
## Analysis Summary

On encountering a 403 Permission Denied page, user's resource access request flow to be as follows:

1. 403 Page to be updated, so as to include a request button, with the caption `Request Permission From Resource Owner`
2. Once clicked, request button to display a request confirmation modal message; informing user, resource owner is to be notified of request.
3. Resource acce

[2021-04-12 08:34] #1144 closed

[2021-04-12 08:35] #1253 closed

[2021-04-12 08:48] #1137 closed

[2021-04-12 08:53] corsacca commented on #477
@kodinkat that looks right. I like the flow. Thank you.

1. We use the work `record` instead of `resource`
6. this should happen automatically when the record is shared.

[2021-04-12 16:15] #1263 closed

[2021-04-12 16:22] corsacca commented on #1139
Addressed by https://github.com/DiscipleTools/disciple-tools-theme/commit/6d3b6cd32bce5869460c8af3fd1a3e546422f958 and other commits.

[2021-04-12 16:22] #1139 closed

[2021-04-12 16:29] corsacca commented on #1122
Thanks for your suggestion @mikeallbutt .
The behavior you describe was the previous behavior and it resulted in more unneeded clicks.

[2021-04-12 16:29] #1122 closed

[2021-04-12 16:39] corsacca commented on #1128
Hey, the overhead to saving on each group each user's ordering preference is too much hassle.
I suggest when https://github.com/DiscipleTools/disciple-tools-theme/issues/1112 and/or https://github.com/DiscipleTools/disciple-tools-theme/issues/1008 is implemented we consider a sort button for those fields.

[2021-04-12 16:39] #1128 closed

[2021-04-12 16:56] #1034 closed

[2021-04-12 17:02] corsacca commented on #1161
Good idea, but unfortunately the API only supports adding connections for existing records. The contact does not exist yet, so the group can't be added to the contact.

[2021-04-12 17:02] #1161 closed

[2021-04-12 17:05] corsacca commented on #1165
This was useful, but also confusing because the user did not realize that the toggle was on and was not seeing the results they expected.
A great work around is simple to sort by status.

[2021-04-12 17:05] #1165 closed

[2021-04-12 17:12] corsacca commented on #1005
When adding a contact to a group, if the contact has a people group connection, also add that connection to the group.

[2021-04-12 17:14] corsacca commented on #624
Having a "primary" location is no longer a felt need.

[2021-04-12 17:14] #624 closed

[2021-04-12 17:16] corsacca commented on #705
System wide charts and metrics will be geared towards desktop views.
Charts and metrics available to the multiplier will have more of a mobile focus.

[2021-04-12 17:16] #705 closed

[2021-04-13 09:40] corsacca commented on #481
This feature is now available with this plugin: https://disciple.tools/plugins/disciple-tools-availability/
Thanks @prykon

[2021-04-13 09:40] #481 closed

[2021-04-13 10:07] corsacca commented on #429
Closed by https://github.com/DiscipleTools/disciple-tools-theme/commit/2226cc14efc39b95b514d72ec3e8bd4e06b2c72b

[2021-04-13 10:07] #429 closed

[2021-04-13 10:26] corsacca opened #1285 "List API: Ability to search for 'any' on a connection field."
Search for any contact that has a baptism connections
Get a list for any contact that is coaching.
Get a list of any group that is a "parent group"

[2021-04-13 10:27] corsacca opened #1286 "List Filters: ability to search for 'any' on connection field"
Search for any contact that has a baptism connections
Get a list for any contact that is coaching.
Get a list of any group that is a "parent group"

We could add a check box/option under the typeahead in the filter list to simple search for any connection.

This feature depends on the list API supporting it: https://github.com/DiscipleTools/disciple-tools-theme/issues/1285

[2021-04-13 10:28] corsacca commented on #846
I'm merging a couple issues into a common one that address them all: https://github.com/DiscipleTools/disciple-tools-theme/issues/1286

[2021-04-13 10:28] #846 closed

[2021-04-13 10:29] corsacca commented on #1060
Now available with: https://github.com/DiscipleTools/disciple-tools-theme/commit/9c1d4e3dbeb4b2465d68d74585bbd8ad94ecfe10

[2021-04-13 10:29] #1060 closed

[2021-04-13 10:31] corsacca commented on #835
Thanks for the suggestion Mike. We have chosen not to implement this one.

[2021-04-13 10:31] #835 closed

[2021-04-13 10:53] #1061 closed

[2021-04-13 10:55] corsacca commented on #1016
This is in the WP Admin area and will be seldom used by users. As in you set it once and then leave it.
I'm recommending we don't divert energy to this one.

[2021-04-13 10:55] #1016 closed

[2021-04-13 10:57] corsacca commented on #1011
Currently a typeahead will not suggest itself.

[2021-04-13 10:57] #1011 closed

[2021-04-13 11:00] corsacca commented on #987
Work on this issue has been started here: https://github.com/DiscipleTools/disciple-tools-theme/pull/1187
I'm hesitant about new comments being added at the under existing comments instead of at the top of the lisnt. I think users could easily miss that a new comment was added.
@micahmills any thoughts on this?

[2021-04-13 11:27] micahmills commented on #987
Yes this could lead to some difficult UI things. I think we could put a pause on this. It might be something that we try again in the future, but it will need some design and UI brainstorming.

[2021-04-13 13:46] #1262 closed

[2021-04-13 16:42] cwuensche commented on #1268
Created the following PR https://github.com/DiscipleTools/disciple-tools-theme/pull/1287

[2021-04-13 17:17] corsacca commented on #953
Is this issue a duplicate of https://github.com/DiscipleTools/disciple-tools-theme/issues/1016?

[2021-04-13 17:40] #1260 closed

[2021-04-13 17:41] corsacca commented on #1260
Thanks @mikeallbutt for taking the time to report this issue.

[2021-04-14 08:49] micahmills commented on #1270
I think that an implementation of this feature along with Issue #1269 would also solve #567.

[2021-04-14 09:47] corsacca commented on #1270
:tada: Thanks @micahmills for taking on this issue! :)

[2021-04-14 15:00] corsacca commented on #863
This one requires the list to accept query parameters.
Ex
dt.com/contacts/?tags=awesome_tag
dt.com/contacts/?assigned_to=4&overall_status=active
etc

[2021-04-14 15:21] squigglybob commented on #1251
I'm happy to take this one @corsacca

[2021-04-14 15:31] corsacca commented on #1251
Great. Thanks @squigglybob

[2021-04-14 15:32] squigglybob commented on #1251
![image](https://user-images.githubusercontent.com/9816214/114737441-ed516600-9d3e-11eb-9f9e-775187c6a3d2.png)
Is this alignment better?